@charset "utf-8";

.page-company {
/*   backgound: #f4f9ff; */
}
.page-privacy {
/*   background: #f4f9ff; */
}

img {
  max-width: 100%;
  height:auto;
}

/* ===============================================================================

　BASE CSS

=============================================================================== */
/*
 Margin Set
-------------------------------------------------------------------------*/
.mv0  { margin-top:0px !important; margin-bottom:0px !important; }
.mv5  { margin-top:5px !important; margin-bottom:5px !important; }
.mv10 { margin-top:10px !important; margin-bottom:10px !important; }
.mv15 { margin-top:15px !important; margin-bottom:15px !important; }
.mv20 { margin-top:20px !important; margin-bottom:20px !important; }
.mv25 { margin-top:25px !important; margin-bottom:25px !important; }
.mv30 { margin-top:30px !important; margin-bottom:30px !important; }
.mv35 { margin-top:35px !important; margin-bottom:35px !important; }
.mv40 { margin-top:40px !important; margin-bottom:40px !important; }
.mv45 { margin-top:45px !important; margin-bottom:45px !important; }
.mv50 { margin-top:50px !important; margin-bottom:50px !important; }

.mh0  { margin-right:0px !important; margin-left:0px !important; }
.mh5  { margin-right:5px !important; margin-left:5px !important; }
.mh10 { margin-right:10px !important; margin-left:10px !important; }
.mh15 { margin-right:15px !important; margin-left:15px !important; }
.mh20 { margin-right:20px !important; margin-left:20px !important; }
.mh25 { margin-right:25px !important; margin-left:25px !important; }
.mh30 { margin-right:30px !important; margin-left:30px !important; }
.mh35 { margin-right:35px !important; margin-left:35px !important; }
.mh40 { margin-right:40px !important; margin-left:40px !important; }
.mh45 { margin-right:45px !important; margin-left:45px !important; }
.mh50 { margin-right:50px !important; margin-left:50px !important; }

.mt0  { margin-top:0px !important; }
.mt5  { margin-top:5px !important; }
.mt8  { margin-top:8px !important; }
.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mt25 { margin-top:25px !important; }
.mt30 { margin-top:30px !important; }
.mt35 { margin-top:35px !important; }
.mt40 { margin-top:40px !important; }
.mt45 { margin-top:45px !important; }
.mt50 { margin-top:50px !important; }
.mt60 { margin-top:60px !important; }
.mt90 { margin-top:90px !important; }
.mt100 { margin-top:100px !important; }

.mr0  { margin-right:0px !important; }
.mr2  { margin-right:2px !important; }
.mr3  { margin-right:3px !important; }
.mr4  { margin-right:4px !important; }
.mr5  { margin-right:5px !important; }
.mr10 { margin-right:10px !important; }
.mr15 { margin-right:15px !important; }
.mr20 { margin-right:20px !important; }
.mr25 { margin-right:25px !important; }
.mr30 { margin-right:30px !important; }
.mr35 { margin-right:35px !important; }
.mr40 { margin-right:40px !important; }
.mr45 { margin-right:45px !important; }
.mr50 { margin-right:50px !important; }

.mb0  { margin-bottom:0px !important; }
.mb5  { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb25 { margin-bottom:25px !important; }
.mb30 { margin-bottom:30px !important; }
.mb35 { margin-bottom:35px !important; }
.mb40 { margin-bottom:40px !important; }
.mb45 { margin-bottom:45px !important; }
.mb50 { margin-bottom:50px !important; }
.mb80 { margin-bottom:80px !important; }

.ml0  { margin-left:0px !important; }
.ml5  { margin-left:5px !important; }
.ml10 { margin-left:10px !important; }
.ml15 { margin-left:15px !important; }
.ml20 { margin-left:20px !important; }
.ml25 { margin-left:25px !important; }
.ml30 { margin-left:30px !important; }
.ml35 { margin-left:35px !important; }
.ml40 { margin-left:40px !important; }
.ml45 { margin-left:45px !important; }
.ml50 { margin-left:50px !important; }
.ml60 { margin-left:60px !important; }

.nm10 {margin-left:-10px ; margin-right:-10px ; }
.nm15 {margin-left:-15px ; margin-right:-15px ; }
.nm25 {margin-left:-25px ; margin-right:-25px  }

/*
 Padding Set
-------------------------------------------------------------------------*/
.p15  { padding:15px !important; }
.p20  { padding:20px !important; }

.pv0  { padding-top:0px !important; padding-bottom:0px !important; }
.pv5  { padding-top:5px !important; padding-bottom:5px !important; }
.pv10 { padding-top:10px !important; padding-bottom:10px !important; }
.pv15 { padding-top:15px !important; padding-bottom:15px !important; }
.pv20 { padding-top:20px !important; padding-bottom:20px !important; }
.pv25 { padding-top:25px !important; padding-bottom:25px !important; }
.pv30 { padding-top:30px !important; padding-bottom:30px !important; }
.pv35 { padding-top:35px !important; padding-bottom:35px !important; }
.pv40 { padding-top:40px !important; padding-bottom:40px !important; }
.pv45 { padding-top:45px !important; padding-bottom:45px !important; }
.pv50 { padding-top:50px !important; padding-bottom:50px !important; }

.ph0  { padding-right:0px !important; padding-left:0px !important; }
.ph5  { padding-right:5px !important; padding-left:5px !important; }
.ph10 { padding-right:10px !important; padding-left:10px !important; }
.ph15 { padding-right:15px !important; padding-left:15px !important; }
.ph20 { padding-right:20px !important; padding-left:20px !important; }
.ph25 { padding-right:25px !important; padding-left:25px !important; }
.ph30 { padding-right:30px !important; padding-left:30px !important; }
.ph35 { padding-right:35px !important; padding-left:35px !important; }
.ph40 { padding-right:40px !important; padding-left:40px !important; }
.ph45 { padding-right:45px !important; padding-left:45px !important; }
.ph50 { padding-right:50px !important; padding-left:50px !important; }

.pt0  { padding-top:0px !important; }
.pt5  { padding-top:5px !important; }
.pt10 { padding-top:10px !important; }
.pt15 { padding-top:15px !important; }
.pt20 { padding-top:20px !important; }
.pt25 { padding-top:25px !important; }
.pt30 { padding-top:30px !important; }
.pt35 { padding-top:35px !important; }
.pt40 { padding-top:40px !important; }
.pt45 { padding-top:45px !important; }
.pt50 { padding-top:50px !important; }

.pr0  { padding-right:0px !important; }
.pr5  { padding-right:5px !important; }
.pr10 { padding-right:10px !important; }
.pr15 { padding-right:15px !important; }
.pr20 { padding-right:20px !important; }
.pr25 { padding-right:25px !important; }
.pr30 { padding-right:30px !important; }
.pr35 { padding-right:35px !important; }
.pr40 { padding-right:40px !important; }
.pr45 { padding-right:45px !important; }
.pr50 { padding-right:50px !important; }

.pb0  { padding-bottom:0px !important; }
.pb5  { padding-bottom:5px !important; }
.pb10 { padding-bottom:10px !important; }
.pb15 { padding-bottom:15px !important; }
.pb20 { padding-bottom:20px !important; }
.pb25 { padding-bottom:25px !important; }
.pb30 { padding-bottom:30px !important; }
.pb35 { padding-bottom:35px !important; }
.pb40 { padding-bottom:40px !important; }
.pb45 { padding-bottom:45px !important; }
.pb50 { padding-bottom:50px !important; }

.pl0  { padding-left:0px !important; }
.pl5  { padding-left:5px !important; }
.pl10 { padding-left:10px !important; }
.pl15 { padding-left:15px !important; }
.pl20 { padding-left:20px !important; }
.pl25 { padding-left:25px !important; }
.pl30 { padding-left:30px !important; }
.pl35 { padding-left:35px !important; }
.pl40 { padding-left:40px !important; }
.pl45 { padding-left:45px !important; }
.pl50 { padding-left:50px !important; }

/*
 行揃え
-------------------------------------------------------------------------*/
.txt_left { text-align:left !important; }
.txt_center { text-align:center !important; }
.txt_right { text-align:right !important; }

/*
 縦位置
-------------------------------------------------------------------------*/
.vat { vertical-align:top !important; }
.vam { vertical-align:middle !important; }
.vab { vertical-align:bottom !important; }

/*
 float
-------------------------------------------------------------------------*/
.fl { float:left; }
.fr { float:right; }
.floatL { float: left; }
.floatR { float: right; }
.clear { clear:both; }

/*
 float clear
-------------------------------------------------------------------------*/
.clearfix:after{
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
	overflow: hidden;/* 隙間対応 */
	font-size: 0.1em;/* 隙間対応 */
	line-height: 0;/* 隙間対応 */
}
.clearfix{
	display:inline-table;
	min-height:1%;
}
/* \*/
* html .clearfix{
	height:1%;
}
.clearfix{
	display:block;
}
.flex_container{
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.between{
	justify-content: space-between;
}
.row-reverse {
	flex-direction:row-reverse;
}
.center {
	align-items: center;
}
/* */

/*
 高さ指定
-------------------------------------------------------------------------*/
.h100per { height:100% !important; }
.h10 { height:10px !important; }

/*
 幅指定
-------------------------------------------------------------------------*/
.width100 { width:100% !important; }
.width90 { width:90% !important; }
.width80 { width:80% !important; }
.width75 { width:75% !important; }
.width70 { width:70% !important; }
.width66 { width:66.66666% !important;}
.width65 { width:65% !important; }
.width60 { width:60% !important; }
.width55 { width:55% !important; }
.width50 { width:50% !important; }
.width45 { width:45% !important; }
.width40 { width:40% !important; }
.width35 { width:35% !important; }
.width30 { width:30% !important; }
.width33 { width:33.33333% !important;}
.width25 { width:25% !important; }
.width20 { width:20% !important; }
.width15 { width:15% !important; }
.width10 { width:10% !important; }

.nm25 {margin-left:0 ; margin-right:0; }


/*
 ボーダー
-------------------------------------------------------------------------*/
.bd {border: 1px solid #ddd}
.bdt {border-top: 1px solid #ddd}
.bdr {border-right: 1px solid #ddd}
.bdl {border-left: 1px solid #ddd}
.bdn {border:none !important;}
.bdt_das { border-top:1px dashed #ddd; }
.bdb_das { border-bottom:1px dashed #ddd; }
.bd_none {border: none !important;}


/*
 文字
-------------------------------------------------------------------------*/
.fwb {font-weight: bold;}
.fwn {font-weight: normal;}

.fc_red{color:#cc0000;}
.fc_brown{color:#D86C00;}
.fc_black{color:#333;}

.fs10 {font-size: 10px;}
.fs11 {font-size: 11px;}
.fs12 {font-size: 12px;}
.fs13 {font-size: 13px;}
.fs14 {font-size: 14px;}
.fs15 {font-size: 15px;}
.fs16 {font-size: 16px;}
.fs17 {font-size: 17px;}
.fs18 {font-size: 18px;}
.fs19 {font-size: 19px;}
.fs20 {font-size: 20px;}
.fs21 {font-size: 21px;}
.fs22 {font-size: 22px;}
.fs23 {font-size: 23px;}
.fs24 {font-size: 24px;}
.fs25 {font-size: 25px;}
.fs26 {font-size: 26px;}
.fs27 {font-size: 27px;}
.fs28 {font-size: 28px;}
.fs29 {font-size: 29px;}
.fs30 {font-size: 30px;}
.fs31 {font-size: 31px;}
.fs32 {font-size: 32px;}
.fs33 {font-size: 33px;}
.fs34 {font-size: 34px;}
.fs35 {font-size: 35px;}
.fs36 {font-size: 36px;}
.fs37 {font-size: 37px;}
.fs38 {font-size: 38px;}
.fs39 {font-size: 39px;}
.fs40 {font-size: 40px;}


/*
 その他
-------------------------------------------------------------------------*/
.mauto {margin: 0 auto;}

.bg_white{background:#fff;}
.bg_light_gray{background:#efefef;}
.bg_pink{background:#FFE8E8;}

.pc { display:block; }
.sp { display:none; }

a img.linkimg{ 
	background:none!important;
}
a:hover img.linkimg{
	opacity:0.5; 
	filter:alpha(opacity=50); 
	-ms-filter: "alpha( opacity=50 )"; 
	background:none!important;
}
.box-sizing {
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	-o-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
}


@media screen and (max-width: 768px) {
	
/*
 幅指定
-------------------------------------------------------------------------*/
.width100 { width:100% !important; }
.width90 { width:100% !important; }
.width80 { width:100% !important; }
.width75 { width:100% !important; }
.width70 { width:100% !important; }
.width65 { width:100% !important; }
.width60 { width:100% !important; }
.width55 { width:100% !important; }
.width50 { width:100% !important; }
.width45 { width:100% !important; }
.width40 { width:100% !important; }
.width35 { width:100% !important; }
.width33 { width:100% !important; }
.width30 { width:100% !important; }
.width25 { width:100% !important; }
.width20 { width:100% !important; }
.width10 { width:100% !important; }


/*
 Margin Set
-------------------------------------------------------------------------*/
.spmb0  { margin-bottom:0px !important; }
.spmb5  { margin-bottom:5px !important; }
.spmb10  { margin-bottom:10px !important; }
.spmb15  { margin-bottom:15px !important; }
.spmb20  { margin-bottom:20px !important; }
.spmb30  { margin-bottom:30px !important; }
.spmb40  { margin-bottom:40px !important; }

/*
 その他
-------------------------------------------------------------------------*/

.pc { display:none; }
.sp { display:block; }

.fl {float:none;}	
.fr {float:none;}	

.sp_txt_center {text-align:center; }
.sp_txt_left {text-align:left; }
.sp_txt_right {text-align:right; }
	
}


/* ------------------------------------
  template
------------------------------------ */
.template {
  padding-bottom: 50px;
  color: #333;
}
@media screen and (max-width: 768px) {
  .template {
    padding-bottom: 50px;
  }
}

.template__h2 {
  position: relative;
  margin-bottom: 30px;
  padding: 18px 30px 18px 35px;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.36;
  border-radius: 3px;
  background: #f5f5f5;
}
.template__h2:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background: #66b2dd;
}
.template__h3_01 {
  position: relative;
  margin-bottom: 35px;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  border-left: 4px solid #66b2dd;
}
.template__h3_01:before {
  content: "";
  position: absolute;
  left: -4px;
  bottom: -15px;
  width: 100%;
  height: 1px;
  background: #cdcbcb;
}
.template__h3_02 {
  margin-bottom: 20px;
  padding: 13px 20px 13px 25px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  background: #f4f9ff;
}
.template__h4_01 {
  position: relative;
  margin-bottom: 25px;
  padding: 0 20px 0 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  border-left: 4px solid #ccc;
}
.template__h4_01:before {
  content: "";
  position: absolute;
  left: -4px;
  bottom: -10px;
  padding-right: 4px;
  width: 100%;
  height: 1px;
  background: #cdcbcb;
}
.template__h4_02 {
  margin-bottom: 15px;
  padding: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  border-bottom: 1px solid #cdcbcb;
}
.template__h5_01 {
  position: relative;
  margin: 5px auto 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.33;
}
@media screen and (max-width: 768px) {
  .template__h2 {
    margin-bottom: 18px;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    line-height: 1.4;
    border-radius: 2px;
  }
  .template__h2:before {
    width: 4px;
  }
  .template__h3_01 {
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 17px;
    line-height: 1.4;
    border-left: 2px solid #66b2dd;
  }
  .template__h3_01:before {
    left: -2px;
    bottom: -8px;
  }
  .template__h3_02 {
    margin-bottom: 15px;
    padding: 10px 12px;
    font-size: 17px;
    line-height: 1.4;
  }
  .template__h4_01 {
    margin-bottom: 20px;
    padding: 0 20px 0 16px;
    font-size: 16px;
    line-height: 1.3;
    border-left: 2px solid #ccc;
  }
  .template__h4_01:before {
    left: -2px;
    bottom: -10px;
  }
  .template__h4_02 {
    margin-bottom: 10px;
    padding: 0 0 8px 0;
    font-size: 16px;
    line-height: 1.3;
  }
}

.template__text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .template__text {
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 1.8;
  }
}

.template__list {
  margin-bottom: 70px;
  font-size: 14px;
  line-height: 1.7;
  border-bottom: 1px solid #ddd;
}
.template__list dl {
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.template__list dt {
  width: 120px;
  padding: 8px 19px;
  background: #efefef;
  text-align: center;
  font-weight: bold;
}
.template__list dd {
  padding: 8px 15px;
}
@media screen and (max-width: 768px) {
  .template__list {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 1.5;
  }
  .template__list dt {
    width: 25%;
    padding: 5px;
  }
  .template__list dd {
    width: 75%;
    padding: 5px;
  }
}

.template__wrap {
  overflow: hidden;
}
.template__imgLeft {
  float: left;
  width: 50%;
  padding-right: 15px;
}
.template__textRight {
  float: right;
  width: 50%;
  padding-left: 15px;
}
.template__textLeft {
  float: left;
  width: 50%;
  padding-right: 15px;
}
.template__imgRight {
  float: right;
  width: 50%;
  padding-left: 15px;
}
.template__imgTwo ul {
  display: flex;
}
.template__imgTwo li:nth-child(odd) {
  margin-right: 15px;
}
.template__imgTwo li:nth-child(even) {
  margin-left: 15px;
}
.template__imgThree ul {
  display: flex;
}
.template__imgThree li:nth-of-type(1) {
  margin-right: 10px;
}
.template__imgThree li:nth-of-type(2) {
  margin-left: 10px;
  margin-right: 10px;
}
.template__imgThree li:nth-of-type(3) {
  margin-left: 10px;
}
.template__img {
  margin-bottom: 40px;
}
.template__img figcaption {
  padding-top: 5px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .template__imgLeft {
    float: none;
    width: 100%;
    padding-right: 0;
  }
  .template__textRight {
    float: none;
    width: 100%;
    padding-left: 0;
  }
  .template__textLeft {
    float: none;
    width: 100%;
    padding-right: 0;
  }
  .template__imgRight {
    float: none;
    width: 100%;
    padding-left: 0;
  }
  .template__imgTwo ul {
    display: block;
  }
  .template__imgTwo li:nth-child(odd) {
    margin-right: 0;
  }
  .template__imgTwo li:nth-child(even) {
    margin-left: 0;
  }
  .template__imgThree ul {
    display: block;
  }
  .template__imgThree li:nth-of-type(1) {
    margin-right: 0;
  }
  .template__imgThree li:nth-of-type(2) {
    margin-left: 0;
    margin-right: 0;
  }
  .template__imgThree li:nth-of-type(3) {
    margin-left: 0;
  }
  .template__img {
    text-align: center;
    margin-bottom: 30px;
  }
  .template__img figcaption {
    padding-top: 5px;
    font-size: 14px;
    text-align: left;
  }
}

.template__btn {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .template__btn {
    margin-bottom: 20px;
  }
}

/*
 Table
-------------------------------------------------------------------------*/
table.template__table{
	width:100%;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-collapse:collapse;
	margin:0 auto 40px;
	box-sizing: border-box;
}
table.template__table th{
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding:8px 20px;
	line-height: 1.5;
	color: #555;
	background:#ededed;
	text-align:center;
	font-weight:bold;
}
table.template__table td{
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding:8px 20px;
	line-height: 1.5;
}
@media screen and (max-width: 768px) {
	table.template__table{
		width:100%;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-collapse:collapse;
		margin:0 auto 30px;
		box-sizing: border-box;
	}
	table.template__table th{
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding:5px 10px;
		line-height: 1.5;
		color: #555;
		background:#ededed;
		text-align:center;
		font-weight:bold;
		font-size:95%;
	}
	table.template__table td{
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding:5px 10px;
		line-height: 1.5;
		font-size:95%;
	}
}

/*
 list: list-style-type: disc
-------------------------------------------------------------------------*/
ul.template__list_disk{
	margin: 0 0 30px 0;
	line-height: 2;
}
ul.template__list_disk li{
	list-style-type: disc;
	margin: 0 0 5px 20px;
}
@media screen and (max-width: 768px) {
ul.template__list_disk{
	margin: 0 0 30px 0;
	line-height: 2;
}
ul.template__list_disk li{
	list-style-type: disc;
	line-height: 1.4;
	margin: 0 0 10px 20px;
	}
}

/*
 infobox
-------------------------------------------------------------------------*/
.template__infobox{
	width: 100%;
	padding: 20px;
	margin:0 auto 40px;
	background:#f4f9ff;
	border-radius: 5px;
	box-sizing: border-box;
}
.template__infobox .ttl{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto 10px;
	line-height:1.4;
}
.template__infobox .info_freedial {
	width: 60%;
	border: 3px solid #ddd;
	background: #fff;
	border-radius: 5px;
	line-height: 1.2;
	font-size: 30px;
	font-weight: bold;
	display: block;
	padding: 10px 80px 10px 60px;
	margin: 0 auto 5px;
}
.template__infobox .info_freedial span {
	padding-left: 60px;
	background: url('/wp/wp-content/themes/mizushimanoie/images/common/ico_free_dial.png') left center no-repeat;
	background-size: 45px auto;
}
.template__infobox .info_freedial+p {
	padding: 5px 0 0;
	text-align: center;
}
@media screen and (max-width: 768px) {
	.template__infobox{
		width: 100%;
		padding: 5%;
		margin:0 auto 30px;
		background:#f4f9ff;
		border-radius: 5px;
		box-sizing: border-box;
	}
	.template__infobox .ttl{
		font-size: 15px;
		font-weight: bold;
		text-align: center;
		margin: 0 auto 10px;
		line-height:1.4;
	}
	.template__infobox .info_freedial {
		width:100%;
		line-height: 1.2;
		margin: 0 auto 5px;
		padding: 10px;
		font-size: 26px;
		text-align: center;
		border: solid 2px #ddd;
		background: #fff;
		border-radius: 3px;
		box-sizing: border-box;
	}
	.template__infobox .info_freedial span {
		padding-left: 50px;
		background: url('/wp/wp-content/themes/mizushimanoie/images/common/ico_free_dial.png') left center no-repeat;
		background-size: 38px auto;
	}
	.template__infobox .info_freedial+p {
		font-size: 14px;
		padding: 5px 0 0;
		text-align: center;
	}
}

/* event イベント情報
------------------------------------------------------------------ */
.event__box h3{
	color:#8e1515;
	font-size:22px;
	font-weight:bold;
	border-bottom:3px double #8e1515;
	margin:0 0 20px;
}
.event__box h4{
	font-size:20px;
	font-weight:bold;
	margin-bottom:20px;
}
.event__box .pick_up{
	border:2px solid #8e1515;
	padding:2px 10px;
	margin-right:1em;
	line-height:1;
	font-size:14px;
	font-weight:bold;
	border-radius: 3px;
	color:#8e1515;
}

/* 191201　イベント情報：その時だけ必要で追記
------------------------------------------------------------------ */
.onair{
display: flex;
flex-wrap:wrap;
justify-content: space-between;
}
.onair .flexleft{
width:20%;
}
.onair .flexright{
width:70%;
}
.onair .flexright .ttl{
font-size:28px;
font-weight:bold;
color:#66b2dd;
padding:0 0 0;
}
@media screen and (max-width: 768px) {
.onair{
flex-flow: column;
}
.onair .flexleft{
width:100%;
}
.onair .flexright{
width:100%;
text-align:left;
}
.onair .flexright .ttl{
font-size:20px;
font-weight:bold;
color:#66b2dd;
padding:0 0 0;
}
}