@charset "utf-8";

body {
  position: relative;
  width: 100%;
  min-width: 1200px;
  line-height: 1.6;
  color: #333;
  font-size: 16px;
  /*font-size: 62.5%;*/
  text-align: center;
  background: #fff;
}
@media screen and (max-width: 768px){
  body {
    width: 100%;
    min-width: 320px;
  }
}

a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: none;
  color: #333;
}
a:focus{overflow: visible;}

img {
  max-width: 100%;
  height:auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  color: inherit;
}

ol, ul {
  list-style: none;
}

input[type=submit],
input[type=text],
input[type=checkbox],
button,
textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=text] {
  padding: 0 10px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
}
input[type=checkbox] {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: #fff;
  border: solid 1px #ddd;
  vertical-align: top;
}
input[type=checkbox]:checked::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 14px;
  background: url('../images/common/check.png') left top no-repeat;
}
textarea {
  height: 200px;
  padding: 10px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  resize: vertical;
}
select {
  margin: 0;
  padding: 0 0 0 5px;
  background: none;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
}
@media screen and (max-width: 768px){
  input[type=checkbox] {
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 2px;
  }
  input[type=checkbox]:checked::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 8px;
    background: url('../images/common/check.png') left top no-repeat;
    background-size: 16px auto;
  }
}


.js-switch {
  /*visibility: hidden;*/
  display: none;
}

/*  */
.sp-only {
  display: none!important;
}
.sp-s-only {
  display: none!important;
}
@media screen and (max-width: 768px) {
  .pc-only {
    display: none!important;
  }
  .sp-only {
    display: inherit!important;
  }
}
@media screen and (max-width: 480px) {
  .sp-s-only {
    display: inherit!important;
  }
}

/* =======================================

  layout

======================================= */
.l-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 150px;
  background: rgba(255,255,255,0.9);
  text-align: left;
  z-index: 1000;
  transition: .3s;
}
.l-header.js-headerSc {
  height: 80px;
  background: rgba(255,255,255,0.8);
}
.l-header> .l-base {
  position: initial
}
.l-header.js-headerSc > .l-base {
  height: 80px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .l-header {
    position: absolute;
    height: auto;
    background: rgba(255,255,255,1);
    z-index: 2001;
  }
  .l-header > .l-base {
    max-width: 100%;
    padding: 0;
  }
}

.l-main {
  padding-top: 192px;
  padding-top: 150px;
  text-align: left;
}
.page-top .l-main {
  padding-top: 0;
}
@media screen and (max-width: 768px) {
  .l-main {
    padding-top: 60px;
  }
}

.l-mainLeft {
  float: left;
  width: 940px;
}
@media screen and (max-width: 768px) {
  .l-mainLeft {
    float: none;
    width: 100%;
  }
}

.l-side {
  float: right;
  width: 220px;
  padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .l-side {
    float: none;
    width: 100%;
    padding-bottom: 0;
  }
  .page-event.page-single .l-side {
    padding: 0 20px;
  }
}

.l-footer {
  text-align: left;
  background: #fff;
}
@media screen and (max-width: 768px) {
}

.l-base {
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .l-base {
    max-width: 100%;
    padding: 0 20px;
  }
  .page-event.page-single .l-main .l-base {
    padding: 0;
  }
}

/* =======================================

  common parts

======================================= */

.c-align-left {text-align: left!important;}
.c-align-center {text-align: center!important;}
.c-align-right {text-align: right!important;}

.c-vertical-top {vertical-align: top!important;}
.c-vertical-middele {vertical-align: middle!important;}

.c-relative {position: relative!important;}
.c-absolute {position: absolute!important;}

.c-bold {font-weight: bold!important;}

.c-inline {display: inline!important;}
.c-inline-block {display: inline-block!important;}
.c-block {display: block!important;}
.c-flex {display: flex!important; align-items: center;}

.c-ov-h {overflow: hidden;}

.c-clear {clear: both;}

.c-nowrap {white-space: nowrap;}

.c-indent {
  margin-left: 1em;
  text-indent: -1em;
}

.c-overlay,
.c-overlayModal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 2000;
}
.c-overlayModal {
  background: rgba(0,0,0,0.7)
}

/* hover opacity */
.c-opa {
  transition: all  0.3s ease-out;
}
.c-opa:hover {
  text-decoration: none!important;
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  .c-opa {
    transition: initial;
  }
  .c-opa:hover {
    opacity: 1;
  }
}

/* effect */
.c-effect__underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.c-effect__underline::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.c-effect__underline:hover::after {
  bottom: -3px;
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 768px) {
  .c-effect__underline::after {
    display: none;
  }
}

/* btn */
.c-btn a {
  position: relative;
  display: block;
  width: 100%;
  max-width: 500px;
  height: 70px;
  line-height: 66px;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
  border: solid 2px #333333;
  font-size: 24px;
  transition: all  0.3s ease-out;
}
.c-btn a::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 45px;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  border: 0px;
  border-top: solid 2px #392e2e;
  border-right: solid 2px #392e2e;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.c-btn a:hover {
  background: #333333;
  color: #fff;
}
.c-btn a:hover::before {
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
}
@media screen and (max-width: 768px) {
  .c-btn a {
    max-width: 90%;
    height: 45px;
    line-height: 45px;
    border: solid 1px #333333;
    font-size: 17px;
  }
  .c-btn a::before {
    right: 22px;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    border-top: solid 1px #392e2e;
    border-right: solid 1px #392e2e;
  }
}

.c-btnContact,
.c-btnDocument {
  width: 200px;
  height: 50px;
  line-height: 48px;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.c-btnContact,
.c-btnDocument {
  background: #ddd;
  transition: all  0.3s ease-out;
}
.c-btnContact {
  margin-right: 10px;
}
.c-btnDocument {
  margin-left: 10px;
}
.c-btnContact:hover,
.c-btnDocument:hover {
  background: #333;
  color: #ddd;
}
@media screen and (max-width: 768px) {
  .c-btnContact,
  .c-btnDocument {
    width: 50%;
    height: 45px;
    line-height: 45px;
    border-radius: 3px;
    font-size: 17px;
  }
  .c-btnContact {
    margin-right: 5px;
  }
  .c-btnDocument {
    margin-left: 5px;
  }
}

/* title */
.c-pageTitle,
.c-title {
  margin-bottom: 38px;
  text-align: center;
}
.c-pageTitle {
  padding-top: 10px;
}
.page-contact .c-pageTitle {
  margin-bottom: 20px;
}
.c-pageTitle a {
  display: block;
}
.c-pageTitle .jp,
.c-title .jp {
  display: block;
  line-height: 1.1;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3.6px;
}
.c-pageTitle .en,
.c-title .en {
  display: block;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: #66b2dd;
}
@media screen and (max-width: 768px) {
  .c-pageTitle,
  .c-title {
    margin-bottom: 15px;
  }
  .page-contact .c-pageTitle {
    margin-bottom: 10px;
  }
  .c-pageTitle .jp,
  .c-title .jp {
    line-height: 1.4;
    font-size: 26px;
    letter-spacing: 1.8px;
  }
  .c-pageTitle .en,
  .c-title .en {
    font-size: 12px;
    letter-spacing: 0.8px;
  }
}

/* c-catch */
.c-catch {
  margin-bottom: 52px;
  font-size: 16px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .c-catch {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
  }
}

/* post */
.c-post__imgWrap {
}
.c-post__img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.c-post__date {
  margin-bottom: 5px;
  font-size: 12px;
  letter-spacing: 1.2px;
}
.column .c-post__date,
.page-column .c-post__date {
  margin-bottom: 10px;
}
.c-post__new {
  display: inline-block;
  line-height: 1.5;
  margin-left: 10px;
  padding: 0px 15px;
  background: #c90d0d;
  color: #fff;
  font-size: 10px;
  text-align: center;
}
.c-post__category {
  position: relative;
  margin-bottom: 10px;
  padding-left: 22px;
  font-size: 14px;
}
.c-post__category::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 15px;
  height: 4px;
  background: #382a2a;
}
.c-post__category {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
  font-size: 14px;
}
.c-post__category::before {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  width: 15px;
  height: 4px;
  margin-top: -2px;
  background: #382a2a;
}
.c-post__category_magazine {
  display: inline-block;
  line-height: 1.3;
  margin: 5px 0 10px;
  padding: 2px 20px;
  background: #9ea3a8;
  border-radius: 11px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.c-post__title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}
.c-post__text {
  /*font-size: 14px;*/
  font-size: 18px;
  line-height: 1.7;
  font-weight: bold;
}
.column .c-post__text,
.page-column .c-post__text {
  margin-bottom: 10px;
}
/*.c-post__tag span {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  margin-right: 2px;
  padding: 0 12px;
  background: #868d91;
  color: #fff;
  text-align: center;
  font-size: 12px;
}*/
.c-post__tag ul {
  display: flex;
  flex-wrap: wrap;
}
.c-post__tag li {
  /*padding: 2px 10px;*/
  /*font-size: 14px;*/
  margin-right: 5px;
  padding: 0px 10px;
  font-size: 12px;
  color: #fff;
  border: solid 1px #868d91;
  background: #868d91;
}

@media screen and (max-width: 768px) {
  .c-post__img {
  }
  .c-post__date {
    margin-bottom: 5px;
    font-size: 11px;
    letter-spacing: 1.1px;
  }
  .c-post__new {
    margin-left: 10px;
    padding: 0px 10px;
    font-size: 10px;
  }
  .c-post__category {
    margin-bottom: 5px;
    padding-left: 14px;
    font-size: 12px;
  }
  .c-post__category::before {
    top: 8px;
    width: 8px;
    height: 2px;
  }
  .c-post__title {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.25;
  }
  .c-post__text {
    font-size: 12px;
    line-height: 1.5;
  }
  .c-post__tag span {
    padding: 0 10px;
    font-size: 11px;
  }
}

.c-freeDialBox {
  display: inline-block;
  width: 460px;
  padding: 10px;
  background-color: #efefef;
  border-radius: 3px;
  text-align: center;
}
.page-column .c-freeDialBox {
  background-color: #fff;
  border: 3px solid #ddd;
}
.c-freeDialBox__tel {
  line-height: 1.2;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1.8px;
}
.c-freeDialBox__tel span {
  padding-left: 60px;
  background: url('../images/common/ico_free_dial.png') left center no-repeat;
  background-size: 45px auto;
}
.c-freeDialBox__businessHours {
  line-height: 1.2;
  font-size: 14px;
}
.c-freeDialBox__btn {
  display: flex;
}
@media screen and (max-width: 768px) {
  .c-freeDialBox {
    width: 100%;
    padding: 10px 5px;
  }
  .c-freeDialBox__tel {
    line-height: 1.2;
    margin-bottom: 3px;
    font-size: 26px;
  }
  .c-freeDialBox__tel span {
    padding-left: 50px;
    background: url('../images/common/ico_free_dial.png') left center no-repeat;
    background-size: 38px auto;
  }
  .c-freeDialBox__businessHours {
    font-size: 13px;
    letter-spacing: -0.5px;
  }
}

/* ------------------------------------
  header
------------------------------------ */
.headerTop {
  overflow: hidden;
}
.js-headerSc .headerTop {
  overflow: visible;
}
@media screen and (max-width: 768px) {
  .headerTop {
    height: 50px;
  }
}

.header__logo {
  float: left;
  padding: 20px 0 0 0;
  transition: all 0.3s ease;
}
.js-headerSc .header__logo {
  padding: 13px 0 0 0;
}
.js-headerSc .header__logo img {
  width: 150px;
  height: auto;
}
.header__logoCaption {
  float: right;
  padding: 38px 0 0 0;
  font-size: 16px;
}
.js-headerSc .header__logoCaption {
  display: none;
}
@media screen and (max-width: 1000px) {
  .js-headerSc .header__logo {
    padding: 23px 0 0 0;
  }
  .js-headerSc .header__logo img {
    width: 100px;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    padding: 9px 0 0 10px;
  }
  .header__logo img {
    width: 88px;
    height: auto;
  }
  .header__logoCaption {
    float: left;
    line-height: 1.3;
    padding: 11px 0 0 20px;
    font-size: 11px;
  }
}

/*.header__link {
  float: right;
  padding: 15px 0 0 0;
  transition: all 0.3s ease;
}
.js-headerSc .header__link {
  display: none;
}

.header__linkTop {
  margin-bottom: 8px;
}
.header__linkTop ul {
  display: flex;
  right: 0;
  top: 0;
}*/

.header__subMenuFavorite a {
  display: block;
  height: 30px;
  line-height: 28px;
  padding: 0 15px;
  border-radius: 3px;
  background: #fff;
  border: solid 1px #333;
  font-size: 14px;
  transition: all  0.3s ease-out;
}
.header__subMenuFavorite a:hover {
  background: #333;
  color: #fff;
}
.header__subMenuFb {
  margin-left: 20px;
}
.header__subMenuFb img {
  width: 30px;
  height: auto;
}
.header__subMenuContact a {
  display: block;
  width: 126px;
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
  border-radius: 3px;
  background: #ef9405;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.header__subMenuDocument a {
  display: block;
  width: 126px;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  border-radius: 3px;
  background: #a3bb05;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

/*.header__linkBtm {
  float: right;
  text-align: center;
}
.header__tel {
  line-height: 1;
  margin-bottom: 2px;
  font-size: 24px;
  font-weight: bold;
}
.header__tel span {
  padding-left: 45px;
  background: url('../images/common/ico_free_dial.png') left center no-repeat;
  background-size: 30px auto;
}
.header__businessHours {
  line-height: 1;
  font-size: 10px;
  color: #999;
}*/

.headerBtm {
  padding-top: 17px;
  transition: all 0.3s ease;
}
.js-headerSc .headerBtm {
  padding-top: 0;
}

.js-headerSc .header__menu {
  float: right;
  /*height: 80px;*/
  padding-top: 30px;
}
.header__menu {
  text-align: center;
}
.header__menu > ul {
  letter-spacing: -0.4em;
}
.header__menu > ul > li {
  display: inline-block;
  letter-spacing: normal;
}
.header__menu > ul > li > a {
  position: relative;
  display: block;
  padding: 0 10px 8px;
}
.js-headerSc .header__menu > ul > li > a {
  padding: 0 12px 18px;
}
.header__menu > ul > li > a::before,
.header__menu > ul > li > a::after {
  border-bottom: solid 4px #66b3dd;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}
.header__menu > ul > li > a::before {
  left: 50%;
}
.header__menu > ul > li > a::after {
  right: 50%;
}
.header__menu > ul > li > a:hover::before,
.header__menu > ul > li > a:hover::after {
  width: 50%;
}
.header__menu > ul > li > a.current::before,
.header__menu > ul > li > a.current::after {
  width: 50%;
}
.header__menu .jp {
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.js-headerSc .header__menu .jp {
  line-height: 1.2;
  font-size: 14px;
}
.header__menu .en {
  display: block;
  font-size: 8px;
  letter-spacing: 0.6px;
  color: #66b3dd;
}
@media screen and (max-width: 1200px) {
  .header__menu > ul > li > a {
    padding: 0 1.5vw 8px;
  }
  .js-headerSc .header__menu > ul > li > a {
    padding: 0 1vw 18px;
  }
  .header__menu .jp {
    font-size: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .header__menu > ul > li > a {
    padding: 0 1vw 8px;
  }
  .js-headerSc .header__menu > ul > li > a {
    padding: 0 0.5vw 18px;
  }
  .header__menu .jp {
    font-size: 80%;
  }
  .js-headerSc .header__menu .jp {
    font-size: 80%;
  }
}

.header__subMenu {
  display: none;
  position: absolute;
  left: 0;
  top: 150px;
  width: 100%;
  background: rgba(178, 178, 178, 0.9);
}
.js-headerSc .header__subMenu {
  top: 80px;
}
.header__subMenu ul {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: left;
  letter-spacing: -0.4em;
}
.header__subMenu li {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 21px 10px;
  letter-spacing: normal;
  vertical-align: top;
}
.header__menuReform .header__subMenu li:last-child {
  border-left: 1px solid #fff;
}
.header__subMenu li a {
  display: block;
}
.header__subMenu li img {
  margin-bottom: 10px;
}
.header__subMenu li span {
  display: block;
  line-height: 1.2;
  max-width: 130px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.header__menuReform .header__subMenu li:last-child span {
  max-width: 200px;
}
.header__subMenuClose {
  position: absolute;
  right: 0;
  bottom: 10px;
}
/*.header__linkBtm {
  float: right;
  text-align: center;
}
.header__tel {
  line-height: 1;
  margin-bottom: 2px;
  font-size: 24px;
  font-weight: bold;
}
.header__tel span {
  padding-left: 45px;
  background: url('../images/common/ico_free_dial.png') left center no-repeat;
  background-size: 30px auto;
}
.header__businessHours {
  line-height: 1;
  font-size: 10px;
  color: #999;
}*/

.spMenu {
  display: none;
}
/* spMenu */
@media screen and (max-width: 768px) {
  .spMenu__btnWrap {
    position: absolute;
    right: 5px;
    top: 7px;
    width: 35px;
    height: 35px;
  }
  .spMenu__btn,
  .spMenu__btn span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .spMenu__btn {
    position: relative;
    width: 25px;
    height: 18px;
    margin: 9px 5px;
  }
  .spMenu__btn span {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #333;
  }
  .spMenu__btn span:nth-of-type(1) {
    top: 0px;
  }
  .spMenu__btn span:nth-of-type(2) {
    top: 8px;
  }
  .spMenu__btn span:nth-of-type(3) {
    bottom: 0px;
  }
  .spMenu__btn.active span:nth-of-type(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg);
  }
  .spMenu__btn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .spMenu__btn.active span:nth-of-type(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
    transform: translateY(-8px) rotate(45deg);
  }

  .spMenu {
  }
  .spMenu__heading {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    padding: 7px 20px;
    background: #afafaf;
    color: #fff;
  }
  .spMenu__headingLeft {
    width: 50%;
    font-size: 15px;
    font-weight: bold;
  }
  .spMenu__headingRight {
    width: 50%;
    text-align: right;
  }
  .spMenu__headingRight a {
    display: inline-block;
    width: 30px;
    margin-left: 6px;
  }

  .spMenu__nav01 {
    margin: 0 20px 10px;
  }
  .spMenu__nav01 ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .spMenu__nav01 li {
    width: 50%;
    height: 19vw;
    margin-bottom: 10px;
  }
  .spMenu__nav01 li:nth-child(odd) {
    padding-right: 5px;
  }
  .spMenu__nav01 li:nth-child(even) {
    padding-left: 5px;
  }
  .spMenu__nav01 li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: solid 2px #999999;
  }
  .spMenu__nav01Inner {
    width: 100%;
    line-height: 1;
  }
  .spMenu__nav01Inner .ico {
    display: block;
    margin-bottom: 3px;
  }
  .spMenu__nav01Inner .ico img {
    vertical-align: bottom;
  }
  .spMenu__nav01Inner .text {
    font-size: 13px;
    font-weight: bold;
  }
  .spMenu__nav01 li.nav_work img {width: 32px;}
  .spMenu__nav01 li.nav_reform img {width: 27px;}
  .spMenu__nav01 li.nav_event img {width: 25px;}
  .spMenu__nav01 li.nav_news img {width: 25px;}

  .spMenu__nav02 {
    margin: 0 20px 20px;
    text-align: left;
  }
  .spMenu__nav02 > ul {
    border-bottom: 1px solid #9f9898;
  }
  .spMenu__nav02 > ul > li {
    display: block;
    border-top: 1px solid #9f9898;
    font-size: 13px;
    font-weight: bold;
  }
  .spMenu__nav02 > ul > li > a {
    position: relative;
    display: block;
    padding: 12px 0;
    background: url('../images/common/arw_menu.png') right center no-repeat;
    background-size: 15px auto;
  }
  .spMenu__nav02 > ul > li > a.spMenu__plus {
    background: url('../images/common/ico_plus.png') right center no-repeat;
    background-size: 15px auto;
  }
  .spMenu__nav02 > ul > li > a.spMenu__minus {
    background: url('../images/common/ico_minus.png') right center no-repeat;
    background-size: 15px auto;
  }
  .spMenu__nav02 > ul > li > a::before,
  .spMenu__nav02 > ul > li > a::after {
    display: none;
  }

  .spMenu__submenu {
    display: none;
    border-top: 1px solid #9f9898;
  }
  .spMenu__submenu > li {
    display: block;
    border-top: 1px solid #9f9898;
    font-size: 12px;
  }
  .spMenu__submenu > li:first-child {
    border-top: none;
  }
  .spMenu__submenu > li > a {
    position: relative;
    display: block;
    padding: 12px 0 12px 25px;
  }
  .spMenu__submenu > li > a::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    width: 8px;
    height: 2px;
    margin-top: -1px;
    background: #848b8b;
  }

  .spMenu__nav03 {
    margin: 0 20px 20px;
  }
  .spMenu__nav03 ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .spMenu__nav03 li {
    width: 50%;
    height: 19vw;
    line-height: 19vw;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
  }
  .spMenu__nav03 li:nth-child(odd) {
    padding-right: 5px;
  }
  .spMenu__nav03 li:nth-child(even) {
    padding-left: 5px;
  }
  .spMenu__nav03 li a {
    display: block;
    height: 100%;
    border-radius: 5px;
    border: solid 2px #999999;
  }

  .spMenu__bnr {
    margin: 0 20px 30px;
    padding: 10px;
    border: solid 2px #66b2dd;
  }
  .spMenu__bnr a {
    display: block;
  }
  .spMenu__bnr dl {
    width: 100%;
    padding-left: 85px;
    background: url('../images/common/bnr_mizushima_tokken.png') left center no-repeat;
    background-size: auto 100%;
  }
  .spMenu__bnr dt {
    margin-bottom: 6px;
    padding-bottom: 2px;
    border-bottom: solid 1px #66b2dd;
    font-size: 12px;
  }
  .spMenu__bnr dd {
    font-size: 11px;
    line-height: 1.2;
    letter-spacing: -0.6px;
  }

  .spMenu__bg {
    padding: 25px 20px 28px;
    background: #efefef;
  }

  .spMenu__contact {
    display: flex;
  }
  .spMenu__contactBtn {
    width: 50%;
    font-size: 15px;
    text-align: center;
  }
  .spMenu__contactBtn:nth-of-type(odd) {
    margin-right: 5px;
  }
  .spMenu__contactBtn:nth-of-type(even) {
    margin-left: 5px;
  }
  .spMenu__contactBtn a {
    display: block;
    height: 35px;
    line-height: 35px;
    margin-bottom: 20px;
    font-weight: bold;
    background: #ccc;
    border-radius: 5px;
  }
  .spMenu__tel {
    height: 50px;
    line-height: 46px;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: bold;
    background: #fff;
    border: solid 2px #999999;
    border-radius: 5px;
    text-align: center;
  }
  .spMenu__tel a {
    display: block;
  }
  .spMenu__tel a span {
    padding-left: 55px;
    background: url('../images/common/ico_free_dial.png') left center no-repeat;
    background-size: 40px auto;
  }
  .spMenu__businessHours {
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
  }

  .spMenu__nav04 {
    text-align: left;
  }
  .spMenu__nav04 > ul {
    border-bottom: 1px solid #9f9898;
  }
  .spMenu__nav04 > ul > li {
    border-top: 1px solid #9f9898;
    font-size: 13px;
    font-weight: bold;
  }
  .spMenu__nav04 > ul > li > a {
    display: block;
    padding: 12px 0;
  }

  .spMenu__copyright {
    display: block;
    padding: 17px 10px;
    font-size: 8px;
    letter-spacing: 1.6px;
    background-color: #333;
    color: #fff;
    text-align: center;
  }
}


/* sideLink*/
.sideLink {
  display: none;
  position: fixed;
  right: 0;
  top: 180px;
  margin-bottom: 0;
  transition: all 0.3s ease;
  z-index: 101;
}
.js-headerSc .sideLink {
  display: block;
}
.js-headerSc .sideLink__favorite a {
  display: block;
  width: 40px;
  margin: 0 0 10px 0;
  padding: 12px 8px 14px;
  border-radius: 3px 0 0 3px;
  background: #fff;
  box-shadow: 0.6px 0.8px 2px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  transition: all  0.3s ease-out;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
.js-headerSc .sideLink__favorite a:hover {
  background: #333;
  color: #fff;
}
.js-headerSc .sideLink__fb {
  margin: 0 0 10px 0;
}
.js-headerSc .sideLink__contact a,
.js-headerSc .sideLink__document a,
.js-headerSc .sideLink__appointment a{
  display: block;
  width: 40px;
  height: 126px;
  margin: 0 0 10px;
  padding: 20px 8px;
  font-size: 14px;
  border-radius: 3px 0 0 3px;
  box-shadow: 0.6px 0.8px 2px 0 rgba(0, 0, 0, 0.3);
  background: #ccc;
  transition: all  0.3s ease-out;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
.js-headerSc .sideLink__document a {
  height: 100px;
}
.js-headerSc .sideLink__contact a:hover,
.js-headerSc .sideLink__document a:hover {
  background: #333;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .sideLink {
    display: none!important;
  }
}

/* ------------------------------------
  footer
------------------------------------ */
/* footerTop */
.footerTop {
  background: url('../images/common/footer_bg.png') left top repeat;
}
.footerTop__heading {
  height: 80px;
  line-height: 80px;
  background: #90b2c6;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2.4px;
}
.footerTop__heading > .l-base {
  display: block;
}
.footerTop__menu {
  display: flex;
  padding: 80px 10px;
}
.footerTop__menu .line {
  position: relative;
  padding: 0 0 10px 26px;
}
.footerTop__menu .line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 12px;
  height: 4px;
  background: #848b8b;
}
.footerTop__menu .footerTop__menuHeading.line {
  padding: 0 0 10px 28px;
}
.footerTop__menu .footerTop__menuHeading.line::before {
  top: 9px;
}
.footerTop__menuColumn {
  width: 200px;
  margin-right: 50px;
}
.footerTop__menuColumn:last-child {
  margin-right: 0;
}
.footerTop__menuHr {
  margin: 20px 0 30px;
  border-bottom: 1px dotted #999;
}
.footerTop__menuHeading {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}
.footerTop__menuList {
}
.footerTop__menuList:last-child {
  border-bottom: none;
}
.footerTop__menuList li {
  font-size: 14px;
  line-height: 1.3;
}

/* footerMid */
.footerMid {
  padding: 38px 10px 40px;
  background: #fff;
  overflow: hidden;
}
.footerMid__logo {
  float: left;
  display: flex;
  align-items: center;
}
.footerMid__logo span {
  display: block;
  padding-left: 55px;
  font-size: 14px;
}
.footerMid__information {
  float: right;
}
.footerMid__companyName {
  margin-bottom: 2px;
  font-size: 24px;
  font-weight: bold;
}
.footerMid__address {
  margin-bottom: 15px;
}
.footerMid__tel {
  line-height: 1.2;
  font-size: 30px;
  font-weight: bold;
}
.footerMid__tel span {
  padding-left: 60px;
  background: url('../images/common/ico_free_dial.png') left center no-repeat;
  background-size: 45px auto;
}
.footerMid__businessHours {
  margin-bottom: 15px;
  font-size: 14px;
}
.footerMid__btn {
  display: flex;
}
@media screen and (max-width: 768px) {
  .footerMid {
    display: block;
    padding: 21px 0 33px;
  }
  .footerMid__logo {
    float: none;
    display: block;
    text-align: center;
  }
  .footerMid__logo img {
    width: 150px;
  }
  .footerMid__logo span {
    padding-top: 10px;
    padding-left: 0;
    font-size: 12px;
  }
  .footerMid__information {
    float: none;
  }
  .footerMid__information {
    position: relative;
    margin-top: 20px;
    margin-left: 0;
    padding: 20px 20px 0;
    border-left: none;
  }
  .footerMid__information::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 50px;
    height: 2px;
    margin-left: -25px;
    background: #dddddd;
  }
  .footerMid__companyName {
    margin-bottom: 0;
    font-size: 20px;
  }
  .footerMid__address {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .footerMid__address a {
    text-decoration: underline;
  }
  .footerMid__tel {
    line-height: 1.2;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 26px;
    text-align: center;
    border: solid 2px #dddddd;
    border-radius: 3px;
  }
  .footerMid__tel span {
    padding-left: 50px;
    background: url('../images/common/ico_free_dial.png') left center no-repeat;
    background-size: 38px auto;
  }
  .footerMid__businessHours {
    margin-bottom: 10px;
    font-size: 13px;
    letter-spacing: -0.5px;
    text-align: center;
  }
  .footerMid__btn {
    display: flex;
  }
}

/* footerBtm */
.footerBtm {
  padding: 40px;
  background: #efefef;
}
.footerBtm > .l-base {
  display: table;
  width: 100%;
}
.footerBtm__copyright {
  display: table-cell;
  font-size: 12px;
  text-align: left;
  letter-spacing: 1.2px;
  vertical-align: middle;
}
.footerBtm__link {
  display: table-cell;
  text-align: right;
}
.footerBtm__link li {
  display: inline-block;
  padding: 0 15px;
  vertical-align: middle;
}
.footerBtm__link .ico_fb {
  width: 29px;
  height: 29px;
}
@media screen and (max-width: 768px) {
  .footerBtm {
    padding: 15px 0;
    text-align: center;
  }
  .footerBtm .ico_fb {
    width: 30px;
    height: 30px;
  }
  .footerBtm > .l-base {
    display: block;
  }
  .footerBtm__copyright {
    display: block;
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
    letter-spacing: normal;
  }
}


/* page_top */
.page_top {
  position: fixed;
  bottom: 75px;
  right: 60px;
  display: block;
  width: 60px;
}
.page_top a {
  display: block;
}
@media screen and (max-width: 768px) {
  .page_top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: block;
    width: 30px;
  }
}

/* ------------------------------------
  side
------------------------------------ */
.side-bnr {
  /*margin-bottom: 20px;*/
  margin: 30px 0px;
}
.side-bnr li {
  position: relative;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.86;
}
.side-bnr li > a {
  display: block;
  color: #fff;
}
.side-bnrHeadnig {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 10px;
  background: #66b2dd;
}
.side-bnrItem.reform .side-bnrHeadnig {
  background: #999999;
}
.side-bnrTitle {
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 1.2;
  width: 100%;
  padding: 7px 10px;
  background: #302c2c;
}
@media screen and (max-width: 768px) {
}

.side-postList {
}
.side-postList__block {
  margin-bottom: 35px;
}
.side-postList__heading {
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 3px solid #6a6666;
}
.side-postList__event .side-postList__heading {
  margin-bottom: 5px;
}
.side-postList__content li {
  border-bottom: 1px dotted #ddd;
}
.side-postList__content li a {
  display: block;
  width: 100%;
  padding: 15px 0;
  transition: all  0.3s
}
.side-postList__content li:first-child a {
  padding: 10px 0 15px;
}
.side-postList__content li a:hover {
  opacity: 0.6;
}
.side-postList__content ul.blog-list li a {
  display: flex;
}
.side-postList__content ul.year-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}
.side-postList__content .year-list li {
  margin: 0 10px 10px 0;
  border: none;
}
.side-postList__content .year-list li a {
  display: inline-block;
  line-height: 1;
  padding: 5px 8px;
  border-radius: 2px;
  background-color: #f5f5f5;
  border: solid 1px #ddd;
  font-size: 14px;
}
.side-postList__content .year-list li:first-child a {
  padding: 5px 8px;
}
.side-postList__content .year-list li a:hover {
  opacity: 1;
  background: #ddd;
  text-decoration: none;
}
.side-postList__blogKeyword dd a:hover {
  opacity: 0.6;
}
.side-postList__contentImg {
  width: 80px;
  height: 62px;
}
.side-postList__contentText {
  width: 100%;
  padding-left: 10px;
}
.side-postList__contentDate {
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #333;
}
.side-postList__contentDate span {
  line-height: 1;
  margin-left: 5px;
  padding: 2px 5px;
  font-size: 10px;
}
.side-postList__contentHeading {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  color: #333;
}
.side-postList__more {
  padding: 10px 0;
  font-size: 12px;
  text-align: right;
}
.side-postList__more a {
  text-decoration: underline;
}
.side-postList__more a:hover {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .side-postList__block {
    margin-bottom: 40px;
  }
  .side-postList__heading {
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 17px;
    border-bottom: 2px solid #6a6666;
  }
  .side-postList__event .side-postList__heading {
    margin-bottom: 0px;
  }
  .side-postList__event .side-postList__content li {
    padding: 0;
    font-size: 15px;
  }
  .side-postList__event .side-postList__content li a {
    display: block;
    padding: 10px 0;
  }
  .side-postList__event .side-postList__content li a:hover {
    text-decoration: none;
  }
}






.c-btn__favorite {
  text-align: right;
}
.c-btn__favorite a {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  width: 240px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #333;
  color: #fff;
}
.c-btn__favorite a span {
  padding-left: 25px;
  background: url('../images/common/ico_favorite_wht.png') left 2px no-repeat;
}
@media screen and (max-width: 768px) {
  .c-btn__favorite a {
    font-size: 11px;
    font-weight: normal;
    width: 150px;
    height: 30px;
    line-height: 30px;
  }
  .c-btn__favorite a span {
    padding-left: 18px;
    background: url('../images/common/ico_favorite_wht.png') left center no-repeat;
    background-size: 12px auto;
  }
}


.case-listItem {
  display: none;
}
.case-listItem.cat-all {
  display: block;
}

.case-list {
  margin-bottom: 70px;
}
.case-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -30px;
}
.case-list li {
  position: relative;
  /*width: 380px;*/
  width: calc(100%/3);
  height: 286px;
  /*margin: 0 0 30px 30px;*/
  margin: 0 0 30px;
  padding: 0 0 0 30px;
  text-align: center;
}
.case-list li a {
  display: block;
  color: #fff;
}
.case-listImg {
  width: 100%;
  height: 286px;
}
.case-listCover {
  display: none;
  position: absolute;
  left: 30px;
  top: 0;
  width: 380px;
  height: 286px;
  padding: 20px;
  background: rgba(0,0,0,0.5);
}
.case-listLine {
  border: 2px solid rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
}
.case-listCategory {
  width: 100%;
  margin-bottom: 25px;
}
.case-listCategory img {
  max-width: 100px;
}
.case-listCategory.cat-one_story img {width: 70px;}
.case-listCategory.cat-two_family img {width: 80px;}
.case-listCategory.cat-design img {width: 80px;}
.case-listCategory.cat-wanoie img {width: 75px;}
.case-listCategory.cat-with_pets img {width: 100px;}
.case-listCategory.cat-zero_e img {width: 60px;}

.case-listTitle {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}
.case-listText {
   font-size: 14px;
   line-height: 1.7;
}
@media screen and (max-width: 768px) {
  .case-list {
    margin-bottom: 30px;
  }
  .case-list ul {
    margin: 0;
  }
  .case-list li {
    position: relative;
    width: 49%;
    height: auto;
    margin: 0 0 10px 0;
    padding: 0;
    text-align: center;
  }
  .case-list li:nth-child(odd) {
    margin-right: 1%;
  }
  .case-list li:nth-child(even) {
    margin-left: 1%;
  }
  .page-top .work .case-list li:nth-of-type(7),
  .page-top .work .case-list li:nth-of-type(8),
  .page-top .work .case-list li:nth-of-type(9) {
    display: none;
  }
  .page-top .reform .case-list li:nth-of-type(3) {
    display: none;
  }
  .case-list li a {
    display: block;
    color: #fff;
  }
  .case-listImg {
    width: 100%;
    height: 31.9vw;
  }
  .case-listCover {
    display: block;
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    height: auto;
    padding: 5px 0 0 0;
    background: transparent;
    color: #000;
    text-align: left;
  }
  .case-listLine {
    border: none;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
  }
  .case-listCategory {
    line-height: 1.1;
    width: 40px;
    margin: 0;
  }
  .case-listCategory img {
    vertical-align: middle;
  }
  .case-listCategory.cat-one_story img {width: 45px;}
  .case-listCategory.cat-two_family img {width: 50px;}
  .case-listCategory.cat-design img {width: 50px;}
  .case-listCategory.cat-wanoie img {width: 48px;}
  .case-listCategory.cat-with_pets img {width: 60px;}
  .case-listCategory.cat-zero_e img {width: 40px;}

  .case-listTitle {
    margin: 5px 0 3px;
    font-size: 15px;
    line-height: 1.2;
  }
  .case-listText {
     font-size: 13px;
     line-height: 1.4;
  }
}
