@charset "utf-8";

/* ------------------------------------
  breadcrumbList
------------------------------------ */
.c-breadcrumbList {
  margin-bottom: 20px;
  padding: 20px 0;
  font-size: 12px;
  letter-spacing: 0.9px;
}
.c-breadcrumbList-blue {
  margin-bottom: 45px;
  background: #f4f9ff;
}
@media screen and (max-width: 768px) {
  .c-breadcrumbList {
    margin-bottom: 40px;
    font-size: 12px;
    letter-spacing: 0.9px;
  }
}

/* ------------------------------------
  sns
------------------------------------ */
.c-sns {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
}

/* ------------------------------------
  pagenation
------------------------------------ */
.pagenation {
  margin: 0 auto 105px;
  font-size: 16px;
  letter-spacing: 1.2px;
  text-align: center;
}
.pagenation ul {
  display: block;
  margin: 0;
}
.pagenation li {
  display: inline-block;
  width: auto;
  height: 36px;
  line-height: 36px;
  margin: 0;
}
.pagenation span {
  margin: 0 10px;
}
.pagenation a {
  display: block;
  margin: 0 5px;
  padding: 0 15px;
  border-radius: 3px;
  color: #000!important;
  background: #fff;
  border: solid 1px #dddddd;
  vertical-align: top;
  transition: all  0.3s ease-out;
}
.pagenation .pagerPrev,
.pagenation .pagerPrevAll,
.pagenation .pagerNext,
.pagenation .pagerNextAll {
  font-size: 12px;
  letter-spacing: 0.9px;
}
.pagenation a:hover {
  background: #000;
  color: #fff!important;
}
@media screen and (max-width: 768px) {
  .pagenation {
    margin: 0 auto 50px;
    font-size: 12px;
    line-height: 0.75;
    letter-spacing: 0.9px;
  }
  .pagenation li {
    margin: 0 2px;
  }
  .pagenation span {
    height: 25px;
    line-height: 25px;
  }
  .pagenation a {
    height: 25px;
    line-height: 25px;
    margin: 0 0px;
    padding: 0 8px;
    border-radius: 3px;
    font-size: 12px;
    letter-spacing: 0.9px;
  }
  .pagenation a.prev,
  .pagenation a.next {
    font-size: 10px;
  }
}

/* ------------------------------------
  page
------------------------------------ */
.page-work.page-archive {
  background: #f4f9ff;
}
.page-reform.page-archive {
  background: #f0f0f0;
}
.page-work_contact_confirm,
.page-work_contact_complete,
.page-reform_contact_confirm,
.page-reform_contact_complete,
.page-contact {
  background: #e5f2fb;
}
.page-event,
.page-order {
  background: #f8f7ef;
}
.page-column,
.page-architect_news,
.page-voice {
  background: #f8f7f2;
}

/* ------------------------------------
  case
------------------------------------ */
.case-mv {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 80px;
}
.case-mv > a {
  position: relative;
  display: block;
}
.case-mv > a::after {
  content: "";
  position: absolute;
  right: 39px;
  top: 50%;
  width: 18px ;
  height: 30px;
  margin-top: -15px;
  background: url('../images/common/arw_right.png') left top no-repeat;
}
.case-mvItem {
  position: relative;
  width: 100%;
  height: 620px;
}
.case-mvImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.case-mvText {
  position: absolute;
  right: 0;
  top: 0;
  width: 270px;
  height: 100%;
  padding: 60px 80px 10px 30px;
  background-color: #333;
  color: #fff;
}
.case-mvStyle {
  margin-bottom: 50px;
}
.case-mvStyle img {
  max-width: 100px;
}
.case-mvStyle.cat-one_story img {width: 70px;}
.case-mvStyle.cat-two_family img {width: 80px;}
.case-mvStyle.cat-design img {width: 80px;}
.case-mvStyle.cat-wanoie img {width: 75px;}
.case-mvStyle.cat-with_pets img {width: 100px;}
.case-mvStyle.cat-zero_e img {width: 60px;}

.case-mvHeading {
  font-size: 30px;
  font-weight: bold;
}
.case-mvHeadingCaption {
  margin-bottom: 30px;
  font-size: 14px;
}
.case-mvCaption {
  font-size: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .case-mv {
    width: 100%;
    margin: 0 auto 22px;
  }
  .case-mv > a::after {
    display: none;
  }
  .case-mvItem {
    width: 100%;
    height: 44vw;
  }
}

.case-subTitle {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}
.case-subTitle .no {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 18px;
  background: #66b3dd;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  vertical-align: text-top;
}
@media screen and (max-width: 768px) {
  .case-subTitle {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .case-subTitle .no {
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    font-size: 12px;
  }
}

.case-favorite {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
}

#select_style,
#select_item {
  margin-top: -100px;
  padding-top: 100px;
}
.case-select__btn2p {
  position: relative;
  display: block;
  width: 420px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto 50px;
  background: #333;
  border: 1px solid #333;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all  0.3s ease-out;
}
.case-select__btn2p:hover {
  background: #fff;
  color: #333;
}
.case-select__btn2p.close {
  margin: 0 auto 80px;
}
.case-select__btn2p.close::after {
  position: absolute;
  right: 20px;
  top: 50%;
  content: "";
  width: 10px;
  height: 10px;
  margin-top: -8px;
  border: 1px solid;
  border-color:  transparent transparent #fff #fff;
  transform: rotate(-45deg);
}
.case-select__btn2p.close:hover::after {
  border-color:  transparent transparent #333 #333;
}
.case-select__btn2p.open::after {
  position: absolute;
  right: 20px;
  top: 50%;
  content: "";
  width: 10px;
  height: 10px;
  margin-top: -2px;
  border: 1px solid;
  border-color: #fff #fff transparent transparent;
  transform: rotate(-45deg);
}
.case-select__btn2p.open:hover::after {
  border-color: #333 #333 transparent transparent;
}
.case-select {
  margin-bottom: 60px;
}
.case-select:nth-of-type(1) {
  margin-bottom: 40px;
}
.case-select__bg {
  margin-bottom: 20px;
  padding: 35px 40px 25px;
  background: #fff;
}
.case-select__style {
  text-align: center;
}
.case-select__styleTitle {
  line-height: 1;
  margin-bottom: 30px;
}
.case-select__styleList {
  display: flex;
  justify-content: center;
}
.case-select__styleList li {
  padding: 0 16px;
}
.case-select__styleList label {
  cursor: pointer;
}
.case-select__styleListImg {
  margin-bottom: 20px;
}
.case-select__styleListLogo {
  position: relative;
}
.case-select__styleListLogo input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 1px;
}
.case-select__styleListLogo .img {
  display: block;
  margin-bottom: 0;
}
.case-select__styleListLogo .img img {
  vertical-align: top;
}
.case-select__styleListLogo .text {
  font-size: 14px;
}
.case-select__item {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
}
.case-select__item li {
  padding: 0 25px 10px 0;
}
.case-select__item li label {
  cursor: pointer;
}
.case-select__item li input[type=checkbox] {
  margin: 4px 15px 0 0;
}
.case-select__note {
  margin: 0 0 15px;
  text-align: center;
}
.case-select__btnWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.case-select__btn a,
.case-select__btn button {
  display: block;
  width: 280px;
  height: 60px;
  line-height: 60px;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  background: #333;
  border: 1px solid #333;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all  0.3s ease-out;
}
.case-select__btn.btn-shiborikomi a,
.case-select__btn.btn-shiborikomi button {
  width: 420px;
}
.case-select__btn.btn-reset a,
.case-select__btn.btn-reset button {
  width: 160px;
}
.case-select__btn.btn-reset a,
.case-select__btn.btn-reset button {
  background: #fff;
  border: 1px solid #333;
  color: #333;
}
.case-select__btn a:hover,
.case-select__btn button:hover {
  background: #fff;
  color: #333;
}
.case-select__btn.btn-reset a:hover,
.case-select__btn.btn-reset button:hover {
  background: #333;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #select_style,
  #select_item {
    margin-top: -10px;
    padding-top: 10px;
  }
  .case-select__btn2p {
    width: 280px;
    height: 40px;
    line-height: 40px;
    margin: 10px auto 30px;
    font-size: 13px;
  }
  .case-select__btn2p.close {
    margin: 10px auto 30px;
  }
  .case-select__btn2p.close::after {
    right: 15px;
    width: 6px;
    height: 6px;
    margin-top: -6px;
  }
  .case-select__btn2p.open::after {
    right: 15px;
    width: 6px;
    height: 6px;
    margin-top: -2px;
  }
  .case-select {
    margin-bottom: 44px;
  }
  .case-select:nth-of-type(1) {
    margin-bottom: 38px;
  }
  .case-select__bg {
    margin-bottom: 20px;
    padding: 10px;
  }
  .case-select__styleTitle {
    width: 110px;
    margin: 0 auto 15px;
  }
  .case-select__styleList {
    flex-wrap: wrap;
  }
  .case-select__styleList li {
    width: calc(100%/3);
    padding: 0 5px 15px;
  }
  .case-select__styleListImg {
    margin-bottom: 10px;
  }
  .case-select__styleListLogo {
    line-height: 1;
  }
  .case-select__styleListLogo input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 1px;
  }
  .case-select__styleListLogo .img {
    width: 80px;
    margin: 0 auto;
  }
  .case-select__styleListLogo .text {
    font-size: 11px;
    letter-spacing: -1.5px;
  }
  .case-select__item {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
  }
  .case-select__item li {
    padding: 0 10px 0 0;
    font-size: 13px;
  }
  .case-select__item li input[type=checkbox] {
    margin: 4px 6px 0 0;
  }
  .case-select__btn a,
  .case-select__btn button {
    width: 170px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    font-size: 13px;
  }
  .case-select__btn.btn-shiborikomi a,
  .case-select__btn.btn-shiborikomi button {
    width: 170px;
  }
  .case-select__btn.btn-reset a,
  .case-select__btn.btn-reset button {
    width: 100px;
  }
  .case-select__note {
    font-size: 12px;
  }
}

/* ------------------------------------
  postDetail
------------------------------------ */
.postDetail__mv {
  height: 800px;
  margin-bottom: 95px;
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .postDetail__mv {
    height: 165px;
    margin-bottom: 0;
  }
}

.postDetail__bg {
  padding-bottom: 225px;
  background: url('../images/common/contact_bg.png') center bottom no-repeat;
  background-size: 100% auto;
}
.page-reformDetail .postDetail__bg {
  background: url('../images/common/contact_bg2.png') center bottom no-repeat;
  background-size: 100% auto;
}
@media screen and (max-width: 768px) {
  .postDetail__bg {
    padding-bottom: 60px;
  }
}

.postDetail__content {
  margin-bottom: 120px;
}
.page-staff_blog.page-single .postDetail__content {
  margin-bottom: 80px;
}
.page-voice .postDetail__content {
  margin-bottom: 40px;
}
.postDetail__contentWrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .postDetail__content {
    margin-bottom: 15px;
  }
  .page-staff_blog.page-single .postDetail__content {
    margin-bottom: 40px;
  }
  .page-magazine.page-single .postDetail__contentWrap {
    display: block;
  }
}

.postDetail__subContent {
  margin-bottom: 60px;
}
.postDetail__subContent:last-child {
  margin-bottom: 120px;
}
.postDetail__subContentHeading {
  margin-bottom: 30px;
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 3px solid #ccc;
}
@media screen and (max-width: 768px) {
  .postDetail__subContent {
    margin-bottom: 30px;
  }
  .postDetail__subContent:last-child {
    margin-bottom: 40px;
  }
  .postDetail__subContentHeading {
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-size: 18px;
    border-bottom: 2px solid #ccc;
  }
}

.postDetail__subContent-02 {
  margin-bottom: 60px;
}
.postDetail__subContent-02:last-child {
  margin-bottom: 120px;
}
.postDetail__subContent-02Heading {
  margin-bottom: 30px;
  padding: 6px 15px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 3px;
  background-color: #f4f9ff;
  text-align: center;
}
.page-column .postDetail__subContent-02Heading {
  background-color: #e4e2cf;
}
.page-magazine .postDetail__subContent-02Heading {
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .postDetail__subContent-02 {
    margin-bottom: 30px;
  }
  .postDetail__subContent-02:last-child {
    margin-bottom: 60px;
  }
  .postDetail__subContent-02Heading {
    margin-bottom: 20px;
    padding: 3px 5px;
    font-size: 22px;
  }
}

.postDetail__info {
  display: flex;
  min-height: 400px;
  margin-bottom: 70px;
}
.postDetail__infoHeading {
  width: 200px;
  padding: 35px 20px;
  background-color: #333;
  color: #fff;
}
.postDetail__infoStyle {
  width: 90px;
  margin-bottom: 50px;
}
.postDetail__infoName {
  font-size: 30px;
  font-weight: bold;
}
.postDetail__infoPlace {
  font-size: 14px;
}
.postDetail__infoContent {
  position: relative;
  width: 1000px;
  padding: 0 0 50px 60px;
}
.postDetail__infoTag {
  margin-bottom: 55px;
  font-size: 14px;
}
.postDetail__infoTag span {
  display: inline-block;
  margin: 0 20px 10px 0;
  padding: 2px 20px;
  border: solid 1px #707070;
}
.postDetail__infoFavorite {
  position: absolute;
  right: 0;
  top: 0;
}
.postDetail__infoTitle {
  line-height: 1.3;
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2.7px;
}
.postDetail__infoText {
  font-size: 16px;
  line-height: 2.25;
}
@media screen and (max-width: 768px) {
  .postDetail__info {
    display: block;
    min-height: auto;
    margin-bottom: 30px;
  }
  .postDetail__infoHeading {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px 5px;
  }
  .postDetail__infoStyle {
    width: 50px;
    line-height: 1;
    margin-bottom: 5px;
  }
  .postDetail__infoWrap {
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .postDetail__infoName {
    font-size: 20px;
  }
  .postDetail__infoPlace {
    font-size: 13px;
    text-align: right;
  }
  .postDetail__infoContent {
    width: 100%;
    padding: 0;
  }
  .postDetail__infoTag {
    margin-bottom: 20px;
    font-size: 12px;
  }
  .postDetail__infoTag span {
    margin: 0 4px 8px 0;
    padding: 1px 4px;
  }
  .postDetail__infoFavorite {
    position: relative;
    right: auto;
    top: auto;
    margin-bottom: 20px;
  }
  .postDetail__infoTitle {
    line-height: 1.3;
    margin-bottom: 15px;
    font-size: 20px;
    letter-spacing: 1.4px;
  }
  .postDetail__infoText {
    font-size: 15px;
    line-height: 1.85;
  }
}

.postDetail__beforeAfter {
  margin-bottom: 40px;
}
.postDetail__beforeAfter li {
  padding: 15px 0 55px;
  border-top: 8px solid #ededed;
}
.postDetail__beforeAfterHeading {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}
.postDetail__beforeAfterText {
  margin-bottom: 28px;
}
.postDetail__beforeAfterImg {
  overflow: hidden;
}
.postDetail__beforeAfterImgBefore {
  float: left;
  width: 488px;
  background: url(../images/common/arw_beforeafter_pc.png) right 110px no-repeat; 
}
.postDetail__beforeAfterImgBefore img {
  max-width: 390px;
}
.postDetail__beforeAfterImgAfter {
  float: right;
  width: 640px;
}
.postDetail__beforeAfterImgAfter img {
  max-width: 640px;
}
.postDetail__beforeAfterImgAfter figcaption {
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .postDetail__beforeAfter {
    margin-bottom: 20px;
  }
  .postDetail__beforeAfter li {
    padding: 10px 0 25px;
    border-top: 4px solid #ededed;
  }
  .postDetail__beforeAfterHeading {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .postDetail__beforeAfterText {
    margin-bottom: 12px;
    font-size: 12px;
  }
  .postDetail__beforeAfterImg {
    font-size: 12px;
  }
  .postDetail__beforeAfterImgBefore {
    float: none;
    width: 70%;
    margin: 0 auto 10px;
    padding-bottom: 25px;
    background: url(../images/common/arw_beforeafter_sp.png) center bottom no-repeat;
    background-size: 21px auto;
  }
  .postDetail__beforeAfterImgBefore img {
    width: 100%;
  }
  .postDetail__beforeAfterImgBefore figcaption {
    padding-top: 2px;
  }
  .postDetail__beforeAfterImgAfter {
    float: none;
    width: 100%;
  }
  .postDetail__beforeAfterImgAfter img {
    width: 100%;
  }
  .postDetail__beforeAfterImgAfter figcaption {
    padding-top: 2px;
  }
}

.postDetail__imgs {
  margin-bottom: 120px;
  text-align: center;
}
.postDetail__imgsItem {
  position: relative;
  margin-bottom: 20px;
}
.postDetail__imgsItem figure {
  display: inline-block;
}
.postDetail__imgsItem figure img {
  margin-bottom: 10px;
}
.postDetail__imgsItem figcaption {
  font-size: 16px;
  letter-spacing: 1.2px;
  text-align: left;
}
.postDetail__imgsItemFavorite {
  opacity: 0;
  transition: opacity 0.3s;
}
.postDetail__imgsItem:hover .postDetail__imgsItemFavorite {
  opacity: 1;
}
.postDetail__imgsItemFavorite img {
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
  height: 36px;
  display: block;
  cursor: pointer;
}
.postDetail__imgsItemFavorite .favorite_off {
  display: block;
}
.postDetail__imgsItemFavorite .favorite_on {
  display: none;
}
.postDetail__imgsItemFavorite.on .favorite_off {
  display: none;
}
.postDetail__imgsItemFavorite.on .favorite_on {
  display: block;
}
@media screen and (max-width: 768px) {
  .postDetail__imgs {
    margin-bottom: 60px;
  }
  .postDetail__imgsItem {
    margin-bottom: 15px;
  }
  .postDetail__imgsItem figure img {
    margin-bottom: 5px;
  }
  .postDetail__imgsItem figcaption {
    font-size: 14px;
    letter-spacing: 0.9px;
  }
  .postDetail__imgsItemFavorite {
    opacity: 1;
  }
  .postDetail__imgsItemFavorite img {
    width: 25px;
    height: 25px;
  }
}

.postDetail__galleryWrap {
  margin-bottom: 70px;
}
.postDetail__gallery {
  margin-bottom: 40px;
}
.postDetail__gallery ul {
}
.postDetail__galleryItem {
  position: relative;
  width: 25%;
  padding: 0 10px;
  cursor: pointer;
}
.postDetail__galleryItem figure {
  max-width: 280px;
  margin-bottom: 15px;
}
.postDetail__galleryItem figure img {
  margin-bottom: 5px;
}
.postDetail__galleryItem figcaption {
  line-height: 1.2;
  font-size: 16px;
}
.postDetail__galleryItemFavorite {
  position: absolute;
  right: 10px;
  top: 0;
  width: 36px;
  height: 36px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 100;
}
.postDetail__galleryItem:hover .postDetail__galleryItemFavorite {
  opacity: 1;
}
.postDetail__galleryItemFavorite .favorite_off {
  display: block;
}
.postDetail__galleryItemFavorite .favorite_on {
  display: none;
}
.postDetail__galleryItemFavorite.on .favorite_off {
  display: none;
}
.postDetail__galleryItemFavorite.on .favorite_on {
  display: block;
}
@media screen and (max-width: 768px) {
  .postDetail__gallery {
    margin-bottom: 20px;
  }
  .postDetail__galleryItem {
    width: 50%;
    padding: 0 7px;
  }
  .postDetail__galleryItem figcaption {
    font-size: 13px;
    letter-spacing: 0.8px;
  }
  .postDetail__galleryItemFavorite {
    right: 7px;
    width: 25px;
    height: 25px;
    opacity: 1;
  }
  .postDetail__galleryItem:hover .postDetail__galleryItemFavorite {
    opacity: 1;
  }
  .postDetail__galleryItemFavorite .favorite_off {
    display: block;
  }
  .postDetail__galleryItemFavorite .favorite_on {
    display: none;
  }
  .postDetail__galleryItemFavorite.on .favorite_off {
    display: none;
  }
  .postDetail__galleryItemFavorite.on .favorite_on {
    display: block;
  }
}

.postDetail__galleryModal {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0%);
  width: 100%;
  max-width: 800px;
  z-index: 2001;
  overflow: hidden;
}
.postDetail__galleryModalClose {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  z-index: 2002;
}
.postDetail__galleryModalList {
  width: 100%;
  align-items: center;
}
.postDetail__galleryModalListItem {
  display: flex;
  text-align: center;
  justify-content: center;
  /*padding-top: 70px;*/
}
.postDetail__galleryModalListItem .img {
  max-width: 640px;
  margin: 0 auto 10px;
}
.postDetail__galleryModalListItem .img img {
  max-height: 800px;
}
.postDetail__galleryModalListItem .caption {
  max-width: 640px;
  margin: 0 auto;
  color: #fff;
  text-align: left;
  font-size: 16px;
}
.postDetail__galleryModalListItem .caption a {
  color: #fff;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url('../images/slide_prev_l.png');
  left: 0;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url('../images/slide_next_l.png');
  right: 0;
}
@media screen and (max-width: 768px) {
  .postDetail__galleryModal {
    max-width: 100%;
    padding: 0 10px;
  }
  .postDetail__galleryModalClose {
    right: 12px;
    width: 20px;
  }
  .postDetail__galleryModalListItem .img {
    max-width: 100%;
    margin: 0 auto 5px;
    padding: 0 30px;
  }
  .postDetail__galleryModalListItem .img img {
    max-height: 500px;
  }
  .postDetail__galleryModalListItem .caption {
    max-width: 100%;
    padding: 0 30px;
    font-size: 12px;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    background-image: url('../images/slide_prev_l.png');
    background-size: 15px auto;
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    background-image: url('../images/slide_next_l.png');
    background-size: 15px auto;
  }
}

.postDetail__pagenation {
  clear: both;
  margin-bottom: 100px;
  overflow: hidden;
}
.page-work .postDetail__pagenation,
.page-reform .postDetail__pagenation {
  margin-bottom: 0;
}
.postDetail__pagenationPrev,
.postDetail__pagenationNext {
  float: left;
  display: flex;
  align-items: center;
  width: 45%;
  min-height: 120px;
}
.postDetail__pagenationNext {
  float: right;
}
.postDetail__pagenationImgWrap {
  width: 160px;
  height: 120px;
  margin-right: 30px;
}
.postDetail__pagenationNext .postDetail__pagenationImgWrap {
  margin-left: 30px;
  margin-right: 0;
}
.postDetail__pagenationText {
  width: calc(100% - 160px);
  font-size: 16px;
}
.postDetail__pagenationText a {
  display: inline-block;
  margin-bottom: 20px;
  color: #66b3dd;
  font-size: 18px;
  text-decoration: underline;
}
.postDetail__pagenationText a:hover {
  text-decoration: none;
}
.postDetail__pagenationText .postDate {
  margin-bottom: 5px;
  font-size: 14px;
  letter-spacing: 0.7px;
}
.page-voice .postDetail__pagenationPrev,
.page-voice .postDetail__pagenationNext {
  align-items: flex-start;
}
.page-voice .postDetail__pagenationTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}
.page-voice .postDetail__pagenationPlace {
  padding: 2px 10px;
  font-size: 12px;
  background: #ddd;
  border-radius: 100px;
  white-space: nowrap;
}
.page-voice .postDetail__pagenationDescription {
  margin-bottom: 0;
  font-size: 16px;
  color: #333;
}
@media screen and (max-width: 768px) {
  .postDetail__pagenation {
    margin-bottom: 40px;
  }
  .postDetail__pagenationPrev,
  .postDetail__pagenationNext {
    display: block;
    width: 48%;
    min-height: auto;
  }
  .postDetail__pagenationNext {
    text-align: right;
    overflow: hidden;
  }
  .postDetail__pagenationImgWrap {
    display: block;
    width: 120px;
    height: 90px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .postDetail__pagenationNext .postDetail__pagenationImgWrap {
    float: right;
    margin-left: 0;
  }
  .postDetail__pagenationText {
    clear: both;
    width: 100%;
    line-height: 1.2;
    font-size: 13px;
  }
  .postDetail__pagenationText a {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
  }
  .postDetail__pagenationText .postDate {
    font-size: 12px;
  }
  .page-voice .postDetail__pagenationTitle {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .page-voice .postDetail__pagenationPlace {
    font-size: 10px;
  }
  .page-voice .postDetail__pagenationDescription {
    font-size: 14px;
  }
}

/* ------------------------------------
  freeSpace
------------------------------------ */
.freeSpace {
  margin-bottom: 50px;
  padding: 40px 60px 20px;
  background: #efefef;
  font-size: 14px;
  line-height: 1.71;
}
.freeSpaceTitle {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .freeSpace {
    margin-bottom: 30px;
    padding: 20px 20px;
    font-size: 14px;
    line-height: 1.71;
  }
  .freeSpaceTitle {
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 1.3;
  }
  .freeSpaceText {
    font-size: 14px;
    line-height: 2;
  }
}

/* ------------------------------------
  event
------------------------------------ */
.event__list {
}

.event__kv {
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .event__kv {
    margin-bottom: 20px;
  }
}

.event__scheduleList-archive {
  border-bottom: 1px dotted #000;
  font-size: 24px;
  font-weight: bold;
}
.event__scheduleList-archive li {
  border-top: 1px dotted #000;
}
.event__scheduleList-archive li a {
  display: block;
  padding: 15px 20px;
}
.event__scheduleList-archive li a:hover {
  background: #f1f0e6;
}
@media screen and (max-width: 768px) {
  .event__scheduleList-archive {
    margin-bottom: 40px;
    font-size: 16px;
  }
  .event__scheduleList-archive li a {
    padding: 8px 10px;
  }
}

.event__schedule {
  margin-bottom: 104px;
}
.event__scheduleHeading {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #8e1515;
}
.event__scheduleList {
  border-bottom: 1px dotted #000;
  font-size: 24px;
  font-weight: bold;
}
.event__scheduleList li {
  border-top: 1px dotted #000;
}
.event__scheduleList li a {
  display: block;
  padding: 15px 20px 15px 65px;
  background: url('../images/common/arw_anchor.png') 20px center no-repeat;
}
.event__scheduleList li a:hover {
  background: url('../images/common/arw_anchor.png') 20px center no-repeat #f1f0e6;
}
@media screen and (max-width: 768px) {
  .event__schedule {
    margin: 0 20px 30px;
  }
  .event__scheduleHeading {
    margin-bottom: 10px;
    font-size: 17px;
  }
  .event__scheduleList {
    font-size: 14px;
  }
  .event__scheduleList li:first-child {
    border-top: none;
  }
  .event__scheduleList li a {
    padding: 8px 10px 8px 40px;
    background: url('../images/common/arw_anchor.png') 10px center no-repeat;
    background-size: 15px auto;
  }
  .event__scheduleList li a:hover {
    background: url('../images/common/arw_anchor.png') 10px center no-repeat #f1f0e6;
  }
}

.event__subTitle {
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2.7px;
  text-align: center;
}
.event__catch {
  margin-bottom: 35px;
  font-size: 16px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .event__subTitle {
    margin: 0 20px 8px;
    font-size: 20px;
    letter-spacing: 1.4px;
  }
  .event__catch {
    margin-bottom: 20px;
    font-size: 12px;
  }
}

.event__box_anchor {
  margin-top: -100px;
  padding-top: 100px;
}

.event__box {
  position: relative;
  margin-bottom: 40px;
  padding: 45px 50px 15px;
  background: #fff;
  border-radius: 5px;
}
.event__box.manseki {
  padding: 80px 50px 15px;
}
@media screen and (max-width: 768px) {
  .event__box {
    margin: 0 20px 20px;
    padding: 15px 12px 1px;
  }
  .event__box.manseki {
    padding: 45px 12px 1px;
  }
}

.event__manseki {
  position: absolute;
  left: -11px;
  top: 20px;
  height: 45px;
  line-height: 36px;
  width: 320px;
  padding-left: 38px;
  background: url('../images/common/bg_manseki.png') left top no-repeat;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .event__manseki {
    position: absolute;
    left: -6px;
    top: 10px;
    height: 45px;
    line-height: 21px;
    width: 320px;
    padding-left: 10px;
    background: url('../images/common/bg_manseki.png') left top no-repeat;
    background-size: 190px auto;
    font-size: 11px;
  }
}

.event__postDate {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #8e1515;
}
@media screen and (max-width: 768px) {
  .event__postDate {
    margin-bottom: 5px;
    font-size: 17px;
  }
}

.event__postTitle {
  margin-bottom: 30px;
  padding: 8px 20px;
  font-size: 28px;
  font-weight: bold;
  border-radius: 3px;
  background-color: #e4e2cf;
}
@media screen and (max-width: 768px) {
  .event__postTitle {
    margin-bottom: 15px;
    padding: 5px 10px;
    font-size: 18px;
  }
}

.event__postSubTitle {
  margin-bottom: 30px;
  padding: 0 0 0 30px;
  font-size: 24px;
  font-weight: bold;
  border-left: 8px solid #8e1515;
}
@media screen and (max-width: 768px) {
  .event__postSubTitle {
    margin-bottom: 15px;
    padding: 0 0 0 10px;
    font-size: 17px;
    border-left: 4px solid #8e1515;
  }
}

.event__postText {
  margin: -5px 0 20px;
  font-size: 16px;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .event__postText {
    margin: -5px 0 15px;
    font-size: 14px;
    line-height: 1.8;
  }
}

.event__postNote {
  margin: -15px 0 30px;
  font-size: 14px;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
  .event__postNote {
    margin: -10px 0 15px;
    font-size: 13px;
    line-height: 1.4;
  }
}

.event__postDetailList {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
}
.event__postDetailList dl {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.event__postDetailList dt {
  width: 120px;
  padding: 8px 19px;
  background: #efefef;
  border-top: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
}
.event__postDetailList dd {
  width: 718px;
  padding: 8px 15px;
  border-top: 1px solid #ddd;
}
.event__postRight .event__postDetailList dd {
  width: 358px;
}
@media screen and (max-width: 768px) {
  .event__postDetailList {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 1.5;
  }
  .event__postDetailList dt {
    width: 25%;
    padding: 5px;
  }
  .event__postDetailList dd {
    width: 75%;
    padding: 5px;
  }
  .event__postRight .event__postDetailList dd {
    width: 80%;
  }
}

.event__postWrap {
  overflow: hidden;
}
.event__postImgLeft {
  float: left;
  width: 400px;
}
.event__postTextRight {
  float: right;
  width: 410px;
}
.event__postTextLeft {
  float: left;
  width: 410px;
}
.event__postImgRight {
  float: right;
  width: 400px;
}
.event__postLeft {
  float: left;
  width: 320px;
}
.event__postRight {
  float: right;
  width: 480px;
}
.event__postImgTwo ul {
  display: flex;
}
.event__postImgTwo li:nth-child(odd) {
  margin-right: 20px;
}
.event__postImgTwo li:nth-child(even) {
  margin-left: 20px;
}
.event__postImgTwo li.ratio {
  width: calc(100%/2);
}
.event__postImgThree ul {
  display: flex;
}
.event__postImgThree li:nth-of-type(1) {
  margin-right: 7px;
}
.event__postImgThree li:nth-of-type(2) {
  margin-left: 7px;
  margin-right: 7px;
}
.event__postImgThree li:nth-of-type(3) {
  margin-left: 7px;
}
.event__postImgThree li.ratio {
  width: calc(100%/3);
}
.event__postImg {
  margin-bottom: 30px;
}
.event__postImg figcaption {
  padding-top: 5px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .event__postImgLeft {
    float: none;
    width: 100%;
  }
  .event__postTextRight {
    float: none;
    width: 100%;
  }
  .event__postTextLeft {
    float: none;
    width: 100%;
  }
  .event__postImgRight {
    float: none;
    width: 100%;
  }
  .event__postLeft {
    float: none;
    width: 100%;
  }
  .event__postRight {
    float: none;
    width: 100%;
  }
  .event__postImgTwo ul {
    display: block;
  }
  .event__postImgTwo li:nth-child(odd) {
    margin-right: 0;
  }
  .event__postImgTwo li:nth-child(even) {
    margin-left: 0;
  }
  .event__postImgTwo li.ratio {
    width: 100%;
  }
  .event__postImgThree ul {
    display: block;
  }
  .event__postImgThree li:nth-of-type(1) {
    margin-right: 0;
  }
  .event__postImgThree li:nth-of-type(2) {
    margin-left: 0;
    margin-right: 0;
  }
  .event__postImgThree li:nth-of-type(3) {
    margin-left: 0;
  }
  .event__postImgThree li.ratio {
    width: 100%;
  }
  .event__postImg {
    margin-bottom: 20px;
  }
  .event__postImg figcaption {
    padding-top: 5px;
    font-size: 13px;
  }
}

.event__btn {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .event__btn {
    margin-bottom: 20px;
  }
}

.event__contact {
  margin-bottom: 105px;
}
.event__contactHeading {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333333;
}
.event__contactBox {
  display: flex;
  justify-content: space-between;
  padding: 20px 53px 30px;
  background: #fff;
  border: solid 5px #ddd;
  border-radius: 3px;
}
.event__contactLeft {
}
.event__contactRight {
  width: 300px;
}
.event__contactLeftHeading,
.event__contactRightHeading {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}
.event__contactTel {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.event__contactTel .tel {
  line-height: 1;
  padding-left: 60px;
  background: url('../images/common/ico_free_dial.png') left center no-repeat;
  background-size: 45px auto;
  font-size: 36px;
  font-weight: bold;
}
.event__contactTel .staff {
  padding-left: 35px;
}
.event__contactBusinessHours {
  font-size: 16px;
}
.event__contactBtn a {
  display: block;
  width: 300px;
  height: 60px;
  line-height: 60px;
  border-radius: 3px;
  background: #3d3a35;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .event__contact {
    margin: 0 20px 51px;
  }
  .event__contactHeading {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .event__contactBox {
    display: block;
    padding: 15px;
    border: solid 2px #ddd;
  }
  .event__contactLeft {
    margin-bottom: 10px;
  }
  .event__contactRight {
    width: 100%;
  }
  .event__contactLeftHeading,
  .event__contactRightHeading {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .event__contactTel {
    margin-bottom: 5px;
    padding: 10px 8px;
    border-radius: 3px;
    border: solid 2px #ddd;
  }
  .event__contactTel .tel {
    padding-left: 30px;
    background: url('../images/common/ico_free_dial.png') left center no-repeat;
    background-size: 25px auto;
    font-size: 20px;
  }
  .event__contactTel .staff {
    padding-left: 5px;
    font-size: 11px;
  }
  .event__contactBusinessHours {
    text-align: center;
    font-size: 12px;
    letter-spacing: -0.8px;
  }
  .event__contactBtn a {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    font-size: 16px;
  }
}

/* ------------------------------------
  contact
------------------------------------ */
.contact {
  padding: 0 0 113px;
  text-align: center;
  background: #e5f2fb;
}
.page-single .contact {
  padding: 50px 0 200px;
}
.page-single #contact {
  margin-top: -60px;
  padding-top: 60px;
}
.page-reformDetail .contact {
  background: #efefef;
}
.page-order .contact {
  background: #f8f7ef;
}
.contact__heading {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}
.contact__text {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.88;
}
.contact__tel {
  width: 510px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto 10px;
  border-radius: 3px;
  background: #66b3dd;
  font-size: 20px;
  color: #fff;
}
.contact__tel span {
  margin-left: 20px;
  padding-left: 60px;
  font-size: 30px;
  font-weight: bold;
  background: url('../images/common/ico_free_dial_wht.png') left center no-repeat;
  vertical-align: middle;
}
.contact__businessHours {
  padding-bottom: 10px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .contact {
    padding: 0 0 32px;
  }
  .page-single .contact {
    padding: 25px 0 32px;
  }
  .contact__heading {
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .contact__text {
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 1.5;
  }
  .contact__tel {
    width: auto;
    max-width: 300px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 10px;
    padding: 0 10px;
    font-size: 13px;
  }
  .contact__tel span {
    margin-left: 5px;
    padding-left: 30px;
    font-size: 18px;
    background: url('../images/common/ico_free_dial_wht.png') left center no-repeat;
    background-size: 25px auto;
    color: #fff!important;
  }
  .contact__tel span a {
    color: #fff!important;
  }
  .contact__businessHours {
    font-size: 12px;
    line-height: 1.4;
  }
}

.contactForm {
  margin-top: 70px;
  padding: 60px 0 85px;
  background: #fff;
  border-radius: 5px;
}
.contactForm .error {
  color: #d53130;
  font-weight: bold;
}
.contactForm .dd_name .error,
.contactForm .dd_kana .error,
.contactForm .dd_address .error,
.contactForm .dd_tel .error,
.contactForm .dd_mail .error,
.contactForm .dd_sex .error,
.contactForm .dd_naiyo .error {
  padding-top: 10px;
}
.page-contact .contactForm {
  margin-top: 60px;
  padding: 60px 0;
}
.page-contact .contactForm.complete {
  padding: 60px 0 100px;
}
.contactForm__heading {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}
.contactForm__text {
  margin-bottom: 45px;
  font-size: 14px;
  line-height: 1.71;
}
.page-work .mw_wp_form_confirm .contactForm__text,
.page-reform .mw_wp_form_confirm .contactForm__text,
.page-confirm .contactForm__text,
.complete .contactForm__text {
  margin-bottom: 65px;
}
.complete .contactForm__text:nth-of-type(2) {
  margin-bottom: 15px;
}
.contactForm__list {
  width: 980px;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
}
.page-work .mw_wp_form_confirm .contactForm__list,
.page-reform .mw_wp_form_confirm .contactForm__list,
.page-confirm .contactForm__list {
  margin: 0 auto 20px;
}
.contactForm__list > dt {
  position: relative;
  clear: both;
  float: left;
  width: 220px;
  line-height: 1.1;
  padding: 10px 70px 0 0;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}
.page-work .mw_wp_form_confirm .contactForm__list > dt,
.page-reform .mw_wp_form_confirm .contactForm__list > dt,
.page-confirm .contactForm__list > dt {
  line-height: 1.88;
  padding: 0 70px 0 0;
}
.contactForm__list > dt .required {
  position: absolute;
  right: 0;
  top: 10px;
  width: 50px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  padding: 0 10px;
  border-radius: 2px;
  background-color: #d53130;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  vertical-align: top;
}
.page-work .mw_wp_form_confirm .contactForm__list > dt .required,
.page-reform .mw_wp_form_confirm .contactForm__list > dt .required,
.page-confirm .contactForm__list > dt .required {
  top: 6px;
}
.contactForm__list > dd {
  float: left;
  width: 760px;
  padding: 0 0 20px 30px;
  line-height: 1.3;
  font-size: 16px;
  align-items: center;
}
.contactForm__list > dd.dd_kazoku,
.contactForm__list > dd.dd_sodan_naiyo,
.contactForm__list > dd.dd_kyomi {
  padding: 0 0 10px 30px;
}
.page-work .mw_wp_form_confirm .contactForm__list > dd,
.page-reform .mw_wp_form_confirm .contactForm__list > dd,
.page-confirm .contactForm__list > dd {
  line-height: 1.88;
  padding: 0 0 35px 30px;
}
.contactForm__list .kenchiku_naiyo_list:nth-of-type(1) {
  margin-bottom: 10px;
}
.page-work .mw_wp_form_confirm .contactForm__list .kenchiku_naiyo_list:nth-of-type(1),
.page-reform .mw_wp_form_confirm .contactForm__list .kenchiku_naiyo_list:nth-of-type(1),
.page-confirm .contactForm__list .kenchiku_naiyo_list:nth-of-type(1) {
  width: 100%;
  margin-bottom: 20px;
}
.contactForm__list .kenchiku_naiyo_list dt {
  margin-bottom: 15px;
  font-weight: bold;
}
.contactForm__list > dd .input {
  width: 480px;
  display: flex;
}
.contactForm__list > dd .input-radio,
.contactForm__list > dd .input-checkbox {
  flex-wrap: wrap;
  padding: 10px 0 0 0;
}
.page-work .mw_wp_form_confirm .contactForm__list > dd .input-radio,
.page-reform .mw_wp_form_confirm .contactForm__list > dd .input-radio,
.page-confirm .contactForm__list > dd .input-radio,
.page-work .mw_wp_form_confirm .contactForm__list > dd .input-checkbox,
.page-reform .mw_wp_form_confirm .contactForm__list > dd .input-checkbox,
.page-confirm .contactForm__list > dd .input-checkbox {
  padding: 0 0 0 0;
}
.contactForm__list > dd .input-checkbox label {
  display: inline-block;
  width: 145px;
  padding: 0 0 15px 0;
}
.contactForm__list > dd .input-radio label {
  display: inline-block;
  padding: 0 10px 0 0;
}

.contactForm__list > dd.dd_kazoku .input-checkbox label {width: 100px;}
.contactForm__list > dd.dd_kazoku .input-checkbox span:nth-of-type(3) label {width: 200px;}

.contactForm__list > dd.dd_sodan_naiyo .input-checkbox span:nth-of-type(1) label {width: 145px;}
.contactForm__list > dd.dd_sodan_naiyo .input-checkbox span:nth-of-type(2) label {width: 145px;}
.contactForm__list > dd.dd_sodan_naiyo .input-checkbox span:nth-of-type(3) label {width: 190px;}
.contactForm__list > dd.dd_sodan_naiyo .input-checkbox span:nth-of-type(4) label {width: 145px;}
.contactForm__list > dd.dd_sodan_naiyo .input-checkbox span:nth-of-type(5) label {width: 180px;}

.contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(1) label {width: 185px;}
.contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(2) label {width: 155px;}
.contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(3) label {width: 140px;}
.contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(4) label {width: 185px;}
.contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(5) label {width: 155px;}
.contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(6) label {width: 140px;}
.contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(7) label {width: 185px;}
.contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(8) label {width: 155px;}
.contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(9) label {width: 140px;}
.contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(10) label {width: 185px;}
.contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(11) label {width: 200px;}

.contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(1) label {width: 170px;}
.contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(2) label {width: 190px;}
.contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(3) label {width: 120px;}
.contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(4) label {width: 170px;}
.contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(5) label {width: 190px;}
.contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(6) label {width: 120px;}
.contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(7) label {width: 280px;}
.contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(8) label {width: 180px;}

.mw_wp_form .horizontal-item + .horizontal-item {
  margin-left: 0;
}

.contactForm__list > dd.dd_kazoku .child {
  line-height: 2;
  font-size: 13px;
}
.contactForm__list > dd.dd_kazoku .child input {
   width: 50px;
   height: 25px;
   line-height: 25px;
   margin: 0 10px;
}

.contactForm__list > dd input[type=checkbox] {
  margin-right: 8px;
}
.contactForm__list > dd input[type=text] {
  width: 480px;
  height: 40px;
  line-height: 40px;
}
.contactForm__list > dd.dd_address {
  display: block;
}
.contactForm__list > dd .zip {
  display: inline-block;
  width: 220px;
  font-weight: bold;
}
.page-work .mw_wp_form_confirm .contactForm__list > dd .zip ,
.page-reform .mw_wp_form_confirm .contactForm__list > dd .zip ,
.page-confirm .contactForm__list > dd .zip {
  font-weight: normal;
}
.contactForm__list > dd .zip .label {
  padding-right: 12px;
}
.page-work .mw_wp_form_confirm .contactForm__list > dd .zip .label,
.page-reform .mw_wp_form_confirm .contactForm__list > dd .zip .label,
.page-confirm .contactForm__list > dd .zip .label {
  padding-right: 0;
}
.contactForm__list > dd .zip input[type=text] {
  width: 160px;
}
.contactForm__list > dd .prefectures {
  display: inline-block;
  font-weight: bold;
  letter-spacing: normal;
}
.page-work .mw_wp_form_confirm .contactForm__list > dd .prefectures,
.page-reform .mw_wp_form_confirm .contactForm__list > dd .prefectures,
.page-confirm .contactForm__list > dd .prefectures {
  font-weight: normal;
}
.page-work .mw_wp_form_confirm .contactForm__list > dd .prefectures,
.page-reform .mw_wp_form_confirm .contactForm__list > dd .prefectures,
.page-confirm .contactForm__list > dd .prefectures {
  display: none;
}
.contactForm__list > dd select {
  width: 180px;
  height: 40px;
  line-height: 40px;
}
.contactForm__list > dd .addressBtm {
  display: flex;
  margin-top: 20px;
  letter-spacing: normal;
}
.contactForm__list > dd .note {
  margin-left: 20px;
  font-size: 14px;
  color: #666;
}
.page-work .mw_wp_form_confirm .contactForm__list > dd .note,
.page-reform .mw_wp_form_confirm .contactForm__list > dd .note,
.page-confirm .contactForm__list > dd .note {
  display: none;
}
.contactForm__list > dd textarea {
  width: 480px;
  line-height: 1.5;
}
.contactForm__btn .btn-top,
.contactForm__btn .btn-confirm,
.contactForm__btn .btn-submit {
  display: inline-block;
  width: 510px;
  height: 70px;
  line-height: 70px;
  border-radius: 3px;
  background: #66b3dd;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.contactForm__btn .btn-back {
  width: 170px;
  height: 70px;
  line-height: 70px;
  margin-right: 16px;
  border-radius: 3px;
  background: #b4b4b4;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.contactForm__note {
  width: 525px;
  margin: 52px auto 0;
  font-size: 12px;
  line-height: 2;
  letter-spacing: -0.1px;
  text-align: left;
}
.page-work .mw_wp_form_confirm .contactForm__note,
.page-reform .mw_wp_form_confirm .contactForm__note,
.page-confirm .contactForm__note {
  width: 700px;
}
.contactForm__note a {
  color: #66b3dd;
}
.contactForm__telBlock {
  width: 600px;
  margin: 0 auto 58px;
  padding: 20px 0 15px;
  border-top: 2px solid #d1cccc;
  border-bottom: 2px solid #d1cccc;
}
.contactForm__tel {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
}
.contactForm__tel span {
  padding-left: 60px;
  background: url(../images/common/ico_free_dial.png) left 3px no-repeat;
}
.contactForm__businessHours {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .contactForm {
    margin-top: 20px;
    padding: 30px 20px 25px;
  }
  .page-contact .contactForm {
    margin-top: 20px;
    padding: 30px 20px;
  }
  .page-contact .contactForm.complete {
    padding: 30px 20px;
  }
  .contactForm__heading {
    line-height: 1.3;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .contactForm__text {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
  }
  .page-work .mw_wp_form_confirm .contactForm__text,
  .page-reform .mw_wp_form_confirm .contactForm__text,
  .page-confirm .contactForm__text,
  .complete .contactForm__text {
    margin-bottom: 25px;
  }
  .complete .contactForm__text:nth-of-type(2) {
    margin-bottom: 15px;
  }
  .contactForm__list {
    width: 100%;
  }
  .page-work .mw_wp_form_confirm .contactForm__list,
  .page-reform .mw_wp_form_confirm .contactForm__list,
  .page-confirm .contactForm__list {
    margin: 0 auto;
  }
  .contactForm__list > dt {
    float: none;
    width: 100%;
    line-height: 1.1;
    margin-bottom: 8px;
    padding: 0;
    font-size: 15px;
    text-align: left;
  }
  .page-work .mw_wp_form_confirm .contactForm__list > dt,
  .page-reform .mw_wp_form_confirm .contactForm__list > dt,
  .page-confirm .contactForm__list > dt {
    line-height: 1.88;
    padding: 0 70px 0 0;
  }
  .contactForm__list > dt .required {
    position: relative;
    right: auto;
    top: 0;
    width: auto;
    height: auto;
    line-height: 1;
    display: inline-block;
    margin-left: 15px;
    padding: 1px 5px;
    font-size: 12px;
  }
  .page-work .mw_wp_form_confirm .contactForm__list > dt .required,
  .page-reform .mw_wp_form_confirm .contactForm__list > dt .required,
  .page-confirm .contactForm__list > dt .required {
    top: 6px;
  }
  .contactForm__list .kenchiku_naiyo_list:nth-of-type(1) {
    margin-bottom: 5px;
  }
  .contactForm__list .kenchiku_naiyo_list dt {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .contactForm__list > dd {
    float: none;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    line-height: 1.3;
    font-size: 14px;
    align-items: center;
  }
  .contactForm__list > dd.dd_kazoku,
  .contactForm__list > dd.dd_sodan_naiyo,
  .contactForm__list > dd.dd_kyomi {
    max-width: 295px;
    padding: 0;
  }
  .contactForm__list dd.dd_kenchiku_naiyo_sinchiku,
  .contactForm__list dd.dd_kenchiku_naiyo_reform,
  .contactForm__list > dd.dd_kikkake {
    max-width: 295px;
  }
  .page-work .mw_wp_form_confirm .contactForm__list > dd,
  .page-reform .mw_wp_form_confirm .contactForm__list > dd,
  .page-confirm .contactForm__list > dd {
    line-height: 1.6;
    margin-bottom: 15px;
    padding: 0;
    font-size: 14px;
  }
  .contactForm__list > dd .c-flex {
    display: block!important;
  }
  .contactForm__list > dd .input {
    width: 100%;
    display: block;
  }
  .contactForm__list > dd input[type=text] {
    width: 100%;
    height: 35px;
    line-height: 35px;
  }
  .contactForm__list > dd .input-checkbox label {
    display: inline-block;
    width: 110px;
    padding: 0 0 8px;
  }
  .contactForm__list > dd input[type=checkbox] {
    margin-right: 5px;
  }
  .contactForm__list > dd.dd_kazoku .input-checkbox span:nth-of-type(1) label {width: 60px;}
  .contactForm__list > dd.dd_kazoku .input-checkbox span:nth-of-type(2) label {width: 60px;}
  .contactForm__list > dd.dd_kazoku .input-checkbox span:nth-of-type(3) label {width: 60px;}
  .contactForm__list > dd.dd_kazoku .input-checkbox span:nth-of-type(4) label {width: 60px;}
  .contactForm__list > dd.dd_kazoku .input-checkbox span:nth-of-type(5) label {width: 60px;}
  .contactForm__list > dd.dd_kazoku .input-checkbox span:nth-of-type(6) label {width: 60px;}

  .contactForm__list > dd.dd_sodan_naiyo .input-checkbox span:nth-of-type(1) label {width: 110px;}
  .contactForm__list > dd.dd_sodan_naiyo .input-checkbox span:nth-of-type(2) label {width: 150px;}
  .contactForm__list > dd.dd_sodan_naiyo .input-checkbox span:nth-of-type(3) label {width: 250px;}
  .contactForm__list > dd.dd_sodan_naiyo .input-checkbox span:nth-of-type(4) label {width: 110px;}
  .contactForm__list > dd.dd_sodan_naiyo .input-checkbox span:nth-of-type(5) label {width: 150px;}

  .contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(1) label {width: 110px;}
  .contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(2) label {width: 150px;}
  .contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(3) label {width: 110px;}
  .contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(4) label {width: 150px;}
  .contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(5) label {width: 110px;}
  .contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(6) label {width: 150px;}
  .contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(7) label {width: 110px;}
  .contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(8) label {width: 150px;}
  .contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(9) label {width: 110px;}
  .contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(10) label {width: 150px;}
  .contactForm__list > dd.dd_kyomi .input-checkbox span:nth-of-type(11) label {width: 250px;}

  .contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(1) label {width: 110px;}
  .contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(2) label {width: 150px;}
  .contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(3) label {width: 110px;}
  .contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(4) label {width: 150px;}
  .contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(5) label {width: 250px;}
  .contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(6) label {width: 250px;}
  .contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(7) label {width: 250px;}
  .contactForm__list > dd.dd_kikkake .input-checkbox span:nth-of-type(8) label {width: 250px;}

  .contactForm__list > dd.dd_address {
    display: block;
  }
  .contactForm__list > dd .addressTop {
    width: 100%;
    padding-bottom: 10px;
    overflow: hidden;
    font-size: 14px;
  }
  .contactForm__list > dd .addressBtm {
    display: block;
    margin-top: 10px;
  }
  .contactForm__list > dd .zip {
    float: none;
    margin-bottom: 10px;
  }
  .contactForm__list > dd .zip input[type=text] {
    width: 135px;
  }
  .contactForm__list > dd .prefectures {
    float: none;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
  }
  .contactForm__list > dd select {
    width: 160px;
    height: 40px;
    line-height: 40px;
  }
  .contactForm__list > dd .prefectures select {
    width: 120px;
  }
  .contactForm__list > dd .note {
    display: block;
    padding-top: 5px;
    margin-left: 0;
    font-size: 14px;
    line-height: 1.3;
  }
  .contactForm__list > dd textarea {
    width: 100%;
  }
  .contactForm__btn .btn-top,
  .contactForm__btn .btn-confirm,
  .contactForm__btn .btn-submit {
    display: inline-block;
    width: 78%;
    height: 45px;
    line-height: 45px;
    margin-left: 2%;
    font-size: 17px;
  }
  .contactForm__btn .btn-submit {
    width: 78%;
  }
  .contactForm__btn .btn-back {
    width: 20%;
    height: 45px;
    line-height: 45px;
    margin-right: 0px;
    font-size: 17px;
  }
  .contactForm__note {
    width: 100%;
    margin: 30px auto 0;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: normal;
  }
  .page-work .mw_wp_form_confirm .contactForm__note,
  .page-reform .mw_wp_form_confirm .contactForm__note,
  .page-confirm .contactForm__note {
    width: 100%;
    margin: 10px auto 0;
  }
  .contactForm__note a {
    text-decoration: underline;
  }
  .contactForm__telBlock {
    width: 100%;
    margin: 0 auto 30px;
    padding: 10px 0;
    border-top: 1px solid #d1cccc;
    border-bottom: 1px solid #d1cccc;
  }
  .contactForm__tel {
    margin-bottom: 5px;
    font-size: 25px;
  }
  .contactForm__tel span {
    padding-left: 40px;
    background: url(../images/common/ico_free_dial.png) left 5px no-repeat;
    background-size: 30px auto;
  }
  .contactForm__businessHours {
    line-height: 1.2;
    font-size: 14px;
  }
}

/* ------------------------------------
  favorite
------------------------------------ */
.favorite__tab {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.favorite__tab li {
  width: 50%;
  height: 80px;
  padding: 23px 45px 0;
  border-radius: 5px 5px 0 0;
  font-size: 24px;
  font-weight: bold;
  background: #f5f5f5;
  cursor: pointer;
}
.favorite__tab li:nth-child(odd) {
  margin-right: 2px;
}
.favorite__tab li:nth-child(even) {
  margin-left: 2px;
}
.favorite__tab li.active {
  position: relative;
  padding: 18px 45px 0;
  background: #fff;
  border-top: 10px solid #9fcfea;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.favorite__tab li.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: #fff;
}
.favorite__print {
  float: right;
  margin-bottom: 20px;
  font-size: 16px;
}
.favorite__print .btn-print {
  width: 120px;
  height: 34px;
  line-height: 34px;
  border-radius: 3px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.favorite__print .btn-print span {
  display: inline-block;
  padding-left: 28px;
  background: url(../images/common/ico_print.png) left center no-repeat;
  background-size: 22px auto;
}
.favorite__loading {
  text-align: center;
  padding-top: 100px;
  font-size: 70px;
}
.favorite__content {
  clear: both;
  opacity: 0;
  /*height: 100vh;*/
  height: 300px;
  transition: opacity 0.3s;
}
.favorite__content.on {
  opacity: 1;
  height: auto;
}
@media screen and (max-width: 768px) {
  .favorite__tab {
    margin-bottom: 15px;
  }
  .favorite__tab li {
    height: 46px;
    padding: 12px 0 0;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    text-align: center;
  }
  .favorite__tab li.active {
    padding: 7px 0 0;
    border-top: 5px solid #9fcfea;
  }
  .favorite__print {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .favorite__print button {
    width: 90px;
    height: 30px;
    line-height: 30px;
  }
  .favorite__print button span {
    padding-left: 22px;
    background: url(../images/common/ico_print.png) left center no-repeat;
    background-size: 15px auto;
  }
  .favorite__loading {
    padding-top: 100px;
    font-size: 50px;
  }
  .favorite__content {
    height: 300px;
  }
}

/* ------------------------------------
  imgGallery
------------------------------------ */
.imgGallery {
  margin-bottom: 75px;
}
.imgGallery ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
}
.imgGallery__item {
  position: relative;
  width: calc(100%/4);
  padding: 0 0 12px 12px;
}
.imgGallery__item a {
  display: block;
}
.imgGallery__item img {
  width: 300px;
  width: 100%;
  height: auto;
  vertical-align: top;
}
.imgGallery__itemFavorite {
  transition: opacity 0.3s;
  opacity: 0;
}
.imgGallery__item:hover .imgGallery__itemFavorite {
  opacity: 1;
}
.imgGallery__itemFavorite img {
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
  height: 36px;
  display: block;
  cursor: pointer;
}
.imgGallery__itemFavorite .favorite_off {
  display: block;
}
.imgGallery__itemFavorite .favorite_on {
  display: none;
}
.imgGallery__itemFavorite.on .favorite_off {
  display: none;
}
.imgGallery__itemFavorite.on .favorite_on {
  display: block;
}
@media screen and (max-width: 768px) {
  .imgGallery {
    margin-bottom: 30px;
  }
  .imgGallery ul {
    margin-left: -12px;
  }
  .imgGallery__item {
    width: calc(100%/2);
    padding: 0 0 12px 12px;
  }
  .imgGallery__item img {
    width: 100%;
  }
  .imgGallery__itemFavorite {
    opacity: 1;
  }
  .imgGallery__itemFavorite img {
    width: 25px;
    height: 25px;
  }
  .imgGallery__itemFavorite .favorite_off {
    display: block;
  }
  .imgGallery__itemFavorite .favorite_on {
    display: block;
  }
  .imgGallery__itemFavorite.on .favorite_off {
    display: block;
  }
  .imgGallery__itemFavorite.on .favorite_on {
    display: block;
  }
}

.btn_test {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000;
  cursor: pointer;
  /*transition: all  0.3s ease-out;*/
}
.btn_test:hover {
  background: #000;
  color: #fff;
}
