@charset "utf-8";

/* mainSlide */
.mainSlideSp {
  display: none;
}
.mainSlidePc {
}
.mainSlidePc > ul > li {
}
.mainSlidePc__content {
  display: flex;
  align-items: center;
  width: 35%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: #fff;
  text-align: left;
}
.mainSlidePc__contentInner {
  width: 100%;
  padding: 150px 20px 20px 40px;
}
.mainSlidePc__style {
}
.mainSlidePc__style img {
  max-width: 100px;
}
.mainSlidePc__style.cat-one_story img {width: 70px;}
.mainSlidePc__style.cat-two_family img {width: 80px;}
.mainSlidePc__style.cat-design img {width: 80px;}
.mainSlidePc__style.cat-wanoie img {width: 75px;}
.mainSlidePc__style.cat-with_pets img {width: 100px;}
.mainSlidePc__style.cat-zero_e img {width: 60px;}

.mainSlidePc__img {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
}
.mainSlidePc__style img {
  width: auto;
}
.mainSlidePc__heading {
  line-height: 1.2;
  margin-top: 15px;
  font-size: 40px;
  font-weight: bold;
}
.mainSlidePc__headingCaption {
  font-size: 14px;
}
.mainSlidePc__text {
  line-height: 1.7;
  margin-top: 60px;
  padding-bottom: 50px;
  font-size: 16px;
  background: url('../images/top-arw_main_slide.png') right bottom no-repeat;
}
@media screen and (min-width: 1600px) {
  .mainSlidePc__contentInner {
    padding: 150px 5% 0 25%;
  }
  .mainSlidePc__heading {
    line-height: 1.2;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
  }
  .mainSlidePc__headingCaption {
    font-size: 16px;
  }
  .mainSlidePc__text {
    margin-top: 80px;
    padding-bottom: 50px;
    font-size: 24px;
    letter-spacing: -0.2px;
    background: url('../images/top-arw_main_slide.png') right bottom no-repeat;
  }
  .mainSlidePc__text dd {
    margin-top: 30px;
  }
  .mainSlidePc__subText {
    line-height: 1.7;
    margin-top: 5px;
    font-size: 20px;
    font-weight: normal;
  }
}
@media screen and (max-width: 768px) {
  .mainSlidePc {
    display: none;
  }
  .mainSlideSp {
    padding: 50px 0 45px;
    display: block;
    background: #fff;
  }
  .mainSlideSp__item {
    position: relative;
  }
  .mainSlideSp__img {
    width: 100%;
    height: 62.7vw;
    background-position: center center;
    background-size: cover;
  }
  .mainSlideSp__content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #000;
    color: #fff;
  }
  .mainSlideSp__style {
    border-right: 1px dotted #fff;
    margin-right: 12px;
    padding-right: 12px;
  }
  .mainSlideSp__style img {
    max-width: 60px;
  }
  .mainSlideSp__style.cat-one_story img {width: 45px;}
  .mainSlideSp__style.cat-two_family img {width: 50px;}
  .mainSlideSp__style.cat-design img {width: 50px;}
  .mainSlideSp__style.cat-wanoie img {width: 48px;}
  .mainSlideSp__style.cat-with_pets img {width: 60px;}
  .mainSlideSp__style.cat-zero_e img {width: 40px;}

  .mainSlideSp__heading {
    margin-right: 12px;
    font-size: 14px;
    font-weight: bold;
  }
  .mainSlideSp__headingCaption {
    font-size: 13px;
  }
}

/* message */
.message {
  padding: 50px 0;
  background: #f5f5f5;
}
.message__content.message__content__flex {
  text-align: left;
}
.message__bg {
  padding: 40px;
  background: #fff;
  text-align: center;
  color: #000;
}
.message__bg.message__bg__flex {
  display: flex;
}
.message__heading {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
}
.message__heading-sub {
  font-weight: bold;
  margin-bottom: 15px;
}
.message__text {
  font-size: 14px;
}
.message__text a {
  text-decoration: underline;
}
.message__text a:hover {
  text-decoration: none;
}
.message__img {
  max-width: 500px;
}
.message__img.message__img__left {
  margin-right: 50px;
}
.message__img.message__img__right {
  margin-left: 50px;
}
.message__btn.message__btn-left {
  text-align: right;
}
.message__btn a {
  min-width: 200px;
  width: auto;
  height: 50px;
  line-height: 44px;
  margin: 0;
  padding: 0 45px 0 24px;
  border-radius: 3px;
  border: solid 2px #333;
  text-align: center;
  font-size: 18px;
  display: inline-block;
}
.message__btn a:before {
  right: 20px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
}

@media screen and (max-width: 768px) {
  .message {
    padding: 20px 0;
  }
  .message__bg {
    margin: 0 20px;
    padding: 20px;
  }
  .message__bg.message__bg__flex {
    display: block;
  }
  .message__img {
    max-width: 100%;
    text-align: center;
  }
  .message__img.message__img__left {
    margin: 0 0 5vw;
  }
  .message__img.message__img__right {
    margin: 5vw 0 0;
  }
  .message__heading {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .message__text {
    font-size: 14px;
  }
}

/* concept */
.concept {
  padding: 55px 0 60px;
  text-align: center;
}
.concept__title {
  margin-bottom: 35px;
  font-size: 40px;
  font-weight: bold;
}
.concept__read {
  margin-bottom: 10px;
  line-height: 1.67;
  font-size: 18px;
}
.concept__img {
  margin-bottom: 20px;
}
.concept__btn {
  font-size: 24px;
  color: #333333;
}
.concept__btn a {
  color: #333333;
}
@media screen and (max-width: 768px) {
  .concept {
    padding: 35px 20px 40px;
  }
  .concept__title {
    line-height: 1.4;
    margin-bottom: 15px;
    font-size: 26px;
    letter-spacing: 1.8px;
  }
  .concept__read {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 15px;
  }
  .concept__img {
    width: 200px;
    margin: 0 auto 20px;
  }
  .concept__btn {
    font-size: 17px;
  }
}

/* work */
.work {
  padding: 85px 0 110px;
  background: #f3f9fe;
}
.work__title {
  margin-bottom: 30px;
}
.work__style {
  margin-bottom: 40px;
  padding: 40px 0 28px;
  background: #fff;
  text-align: center;
}
.work__styleTitle {
  margin-bottom: 30px;
}
.work__styleList {
  letter-spacing: -.4em;
}
.work__styleList li {
  display: inline-block;
  padding: 0 16px;
  cursor: pointer;
  letter-spacing: normal;
  vertical-align: top;
}
.work__styleListImg {
  margin-bottom: 10px;
}
.work__styleListLogo {
  margin-bottom: 5px;
}
.work__styleListText {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .work {
    padding: 30px 0 45px;
  }
  .work__title {
    margin-bottom: 15px;
  }
  .work__style {
    margin-bottom: 15px;
    padding: 15px 10px 5px;
  }
  .work__styleTitle {
    width: 110px;
    line-height: 1;
    margin: 0 auto 15px;
  }
  .work__styleList ul {
    display: flex;
    flex-wrap: wrap;
  }
  .work__styleList li {
    width: calc(100%/3);
    padding: 0 8px 10px;
  }
  .work__styleListImg {
    margin-bottom: 2px;
  }
  .work__styleListLogo {
    line-height: 1;
    padding: 5px 0 0;
    background: #fff;
  }
  .work__styleListLogo img {
    vertical-align: middle;
  }
  .work__styleListText {
    font-size: 11px;
    line-height: 1.09;
  }
  .work__list ul {
    margin: 0 0 10px 0;
  }
  .work__list li {
    position: relative;
    width: 49%;
    height: 31.9vw;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .work__list li:nth-child(odd) {
    margin-right: 1%;
  }
  .work__list li:nth-child(even) {
    margin-left: 1%;
  }
  .work__list li a {
    display: block;
    color: #fff;
  }
  .work__listImg {
    width: 100%;
    height: 31.9vw;
  }
  .work__listCover {
    display: block;
    width: 100%;
    height: 31.9vw;
    padding: 2px;
  }
  .work__listLine {
    padding: 0 10px;
    border: 1px solid rgba(255,255,255,0.5);
  }
  .work__listCategory {
    line-height: 1.1;
    width: 40px;
    margin: 0 auto 8px;
  }
  .work__listTitle {
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 1.1;
  }
  .work__listText {
     font-size: 11px;
     line-height: 1.1;
  }
}

/* reform*/
.reform {
  padding: 85px 0 110px;
}
.reform__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 30px -30px;
}
.reform__list li {
  position: relative;
  width: 380px;
  height: 286px;
  margin: 0 0 30px 30px;
  text-align: center;
}
.reform__list li a {
  display: block;
  color: #fff;
}
.reform__listImg {
  width: 380px;
  height: 286px;
}
.reform__listCover {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 380px;
  height: 286px;
  padding: 20px;
  background: rgba(0,0,0,0.5);
}
.reform__listLine {
  border: 2px solid rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reform__listCategory {
  width: 100%;
  margin-bottom: 25px;
}
.reform__listTitle {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}
.reform__listText {
   font-size: 14px;
   line-height: 1.7;
}
@media screen and (max-width: 768px) {
  .reform {
    padding: 30px 0 45px;
  }
  .reform__list {
    margin: 0 0 10px 0;
  }
  .reform__list li {
    position: relative;
    width: 49%;
    height: 31.9vw;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .reform__list li:nth-child(odd) {
    margin-right: 1%;
  }
  .reform__list li:nth-child(even) {
    margin-left: 1%;
  }
  .reform__list li a {
    display: block;
    color: #fff;
  }
  .reform__listImg {
    width: 100%;
    height: 31.9vw;
  }
  .reform__listCover {
    display: block;
    width: 100%;
    height: 31.9vw;
    padding: 2px;
  }
  .reform__listLine {
    padding: 0 10px;
    border: 1px solid rgba(255,255,255,0.5);
  }
  .reform__listCategory {
    line-height: 1.1;
    width: 40px;
    margin: 0 auto 8px;
  }
  .reform__listTitle {
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 1.1;
  }
  .reform__listText {
     font-size: 11px;
     line-height: 1.1;
  }
}


/* event*/
.event {
  padding: 85px 0 110px;
  background: url('../images/common/bg_01.png') left top repeat;
}
.event > .l-base {
  overflow: hidden;
}
.event__title {
  float: left;
  width: 260px;
}
.event__content {
  float: right;
  width: 880px;
}
.event__list {
}
.event__list article {
  position: relative;
  margin-bottom: 30px;
}
.event__list article.event__listType02 {
  min-height: 300px;
}
.event__list article a {
  display: block;
/*   min-height: 300px; */
}
.event__listImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
  height: 300px;
}
.event__listText {
  margin-left: 480px;
}
.event__listText.wide {
  margin-left: 0;
}
.event__listTextTitle {
  font-size: 30px;
}
.event__listTextDate {
  margin-bottom: 25px;
  font-size: 18px;
  color: #8e1515;
}
.event__listTextDate > span {
  font-size: 24px;
}
.event__studio {
  padding-bottom: 20px;
}
.event__studioHeading {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
}
.event__studioList article {
  position: relative;
  min-height: 180px;
  margin-bottom: 20px;
}
.event__studioList article.wide {
  min-height: auto;
}
.event__studioList article a {
  display: block;
  min-height: 180px;
}
.event__studioList article.wide a {
  min-height: auto;
}
.event__studioListImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 180px;
}
.event__studioListText {
  margin-left: 330px;
}
.event__studioListText.wide {
  margin-left: 0;
}
.event__studioListTextTitle {
  margin-bottom: 5px;
  font-size: 24px;
}
.event__studioListTextDate {
  margin-bottom: 10px;
  font-size: 18px;
  color: #8e1515;
}
@media screen and (max-width: 768px) {
  .event {
    padding: 0 0 45px;
  }
  .event__title {
    float: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .event__content {
    float: block;
    width: 100%;
  }
  .event__list {
  }
  .event__list article {
    min-height: auto;
    margin-bottom: 20px;
  }
  .event__list article.event__listType02 {
	  min-height: auto;
    margin-bottom: 15px;
  }
  .event__list article a {
    min-height: auto;
  }
  .event__listImg {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    height: 59.8vw;
    margin-bottom: 15px;
  }
  .event__listText {
    margin-left: 0;
  }
  .event__listTextTitle {
    margin-bottom: 2px;
    font-size: 17px;
  }
  .event__listTextDate {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .event__listTextDate > span {
    font-size: 14px;
  }
  .event__listTextText {
    font-size: 14px;
  }
  .event__studio {
    padding-bottom: 5px;
  }
  .event__studioHeading {
    margin-bottom: 6px;
    font-size: 17px;
  }
  .event__studioList article {
    min-height: auto;
    margin-bottom: 15px;
  }
  .event__studioList article a {
    display: block;
    min-height: 60px;
  }
  .event__studioListImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 60px;
  }
  .event__studioListText {
    margin-left: 113px;
  }
  .event__studioListTextTitle {
    margin-bottom: 3px;
    font-size: 15px;
  }
  .event__studioListTextDate {
    margin-bottom: 0;
    font-size: 14px;
  }
}

/* magazine*/
.magazine {
  padding: 85px 0 110px;
}

@media screen and (max-width: 768px) {
  .magazine {
    padding: 30px 0 45px;
  }
}

/* pickup */
.pickup {
  padding: 10px 0 40px;
}
.pickup__heading {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.pickup__list {
  display: flex;
  margin-left: -45px;
}
.pickup__list li {
  width: 370px;
  margin: 0 0 0 45px;
}
.pickup__list li a {
  display: block;
}
@media screen and (max-width: 768px) {
  .pickup {
    padding: 0 0 10px;
  }
  .pickup__heading {
    margin-bottom: 8px;
    font-size: 18px;
    text-align: left;
  }
  .pickup__list {
    display: block;
    margin-left: 0;
  }
  .pickup__list li {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .pickup__list li img {
    width: 100%;
  }
}

/* column*/
.column {
  padding: 85px 0 110px;
  background: url('../images/common/bg_01.png') left top repeat;
}
.column__list {
  display: flex;
  margin: 0 0 0 -50px;
  margin-bottom: 60px;
}
.column__list article {
  margin-left: 50px;
}
.column__list article a {
  display: block;
}
.column__listTitle {
  font-weight: normal;
}
.column__listImg {
  width: 360px;
  height: 270px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .column {
    padding: 30px 0 45px;
  }
  .column__list {
    display: block;
    margin: 0;
    margin-bottom: 5px;
  }
  .column__list article {
    margin-left: 0;
    padding-bottom: 20px;
  }
  .column__listTitle {
    font-weight: bold;
  }
  .column__listImg {
    width: 100%;
    height: 65vw;
    margin-bottom: 10px;
  }
}

/* news*/
.news {
  padding: 85px 0 110px;
  background: url('../images/common/bg_01.png') left top repeat;
}
.news > .l-base {
  display: flex;
}
.news__title {
  text-align: left;
}
.news__left {
  width: 880px;
}
.news__leftList {
  margin-bottom: 30px;
}
.news__leftList article {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.news__leftList article:nth-of-type(1) {
  padding: 0 0 15px;
}
.news__leftList article a {
  display: block;
  position: relative;
  min-height: 150px;
}
.news__leftList article.noImg a {
  min-height: 0;
}
.news__leftListImg {
  position: absolute;
  left:  0;
  top:  0;
  width: 200px;
  height: 150px;
}
.news__leftListText {
  width: 560px;
  margin-left: 240px;
}
.noImg .news__leftListText {
  width: 100%;
  margin-left: 0;
}
.news__right {
  width: 320px;
  margin-left: 80px;
}
.news__rightList {
  margin-bottom: 30px;
}
.news__rightList article {
  padding: 20px 0 5px;
  border-bottom: 1px solid #ccc;
}
.news__rightList article:nth-of-type(1) {
  padding: 0 0 5px;
}
.news__rightList article a {
  display: block;
  position: relative;
  min-height: 60px;
}
.news__rightList article.noImg a {
  min-height: 0;
}
.news__rightListImg {
  position: absolute;
  left:  0;
  top:  0;
  width: 80px;
  height: 60px;
}
.news__rightListText {
  width: 210px;
  margin-left: 90px;
}
.noImg .news__rightListText {
  width: 100%;
  margin-left: 0;
}
.news__right .c-btn a::before {
  right: 30px;
}
@media screen and (max-width: 768px) {
  .news {
    padding: 30px 0 45px;
  }
  .news > .l-base {
    display: block;
  }
  .news__title {
    text-align: center;
  }
  .news__left {
    width: 100%;
    margin-bottom: 40px;
  }
  .news__leftList {
    margin-bottom: 25px;
  }
  .news__leftList article {
    padding: 15px 0 5px;
  }
  .news__leftList article:nth-of-type(1) {
    padding: 0 0 5px;
  }
  .news__leftList article a {
    min-height: 75px;
  }
  .news__leftListImg {
    width: 100px;
    height: 75px;
  }
  .news__leftListText {
    width: auto;
    margin-left: 116px;
  }
  .news__right {
    width: 100%;
    margin-left: 0;
  }
  .news__rightList {
    margin-bottom: 25px;
  }
  .news__rightList article {
    padding: 15px 0 5px;
  }
  .news__rightList article:nth-of-type(1) {
    padding: 0;
  }
}

/* blog */
.blog {
  padding: 85px 0 110px;
}
@media screen and (max-width: 768px) {
  .blog {
    padding: 30px 0 45px;
  }
}
