@charset "utf-8";

/* ------------------------------------
  一覧
------------------------------------ */
.post__category {
  position: relative;
  margin-bottom: 30px;
  padding: 18px 30px 18px 35px;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.36;
  border-radius: 3px;
  background: #fff;
}
.post__category::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background: #66b2dd;
}
.post__list {
  display: flex;
  margin: 0 0 0 -50px;
  margin-bottom: 55px;
}
.page-top .blog .post__list,
.page-staff_blog .post__list,
.page-column .post__list,
.page-magazine .post__list,
.page-voice .post__list {
  flex-wrap: wrap;
  margin: 0 0 50px -20px;
}
.post__list article {
  margin-left: 50px;
}
.page-top .pickup article,
.page-top .blog article,
.page-staff_blog article,
.page-column article,
.page-magazine article,
.page-voice article {
  width: calc(100%/3);
  margin-left: 0;
  padding: 0 0 40px 20px;
}
.post__list article a {
  display: block;
  height: 100%;
}
.page-voice article a {
  background: #fff;
}
.post__listTitle {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.33;
}
.page-magazine .post__listTitle {
  display: inline-block;
  padding: 2px 20px;
  background: #9ea3a8;
  border-radius: 11px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.post__listImgWrap {
  width: 360px;
  height: 270px;
  margin-bottom: 10px;
}
.page-top .pickup .post__listImgWrap {
  width: 100%;
}
.page-staff_blog .post__listImgWrap,
.page-column .post__listImgWrap,
.page-magazine .post__listImgWrap {
  width: 100%;
  height: 225px;
}
.page-top .blog .post__listImgWrap {
  width: 100%;
}
.post__listImgCaption {
  position: relative;
  display: block;
  margin-bottom: 15px;
  text-align: right;
}
.post__listWriterName {
  display: inline-block;
  padding-right: 70px;
  font-size: 12px;
}
.post__listWriterPh {
  position: absolute;
  right: 0;
  top: -30px;
}
.post__listWriterName.noImg {
  padding-right: 0;
}
.post__listWriterPh img {
  border-radius: 100px;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
}
@media screen and (max-width: 768px) {
  .post__category {
    margin-bottom: 18px;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    line-height: 1.4;
    border-radius: 2px;
  }
  .post__category::before {
    width: 4px;
  }
  .post__list {
    display: block;
    margin: 0;
    margin-bottom: 0;
  }
  .page-top .blog .post__list,
  .page-staff_blog .post__list,
  .page-column .post__list,
  .page-magazine .post__list,
  .page-voice .post__list {
    margin: 0;
  }
  .post__list article {
    width: 100%!important;
    margin-left: 0;
    padding: 0 0 30px!important;
  }
  .page-top .blog .post__list article:nth-of-type(4),
  .page-top .blog .post__list article:nth-of-type(5),
  .page-top .blog .post__list article:nth-of-type(6) {
    display: none;
  }
  .post__listTitle {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.2;
  }
  .post__listImgWrap {
    width: 100%;
    height: 65.6vw;
    margin-bottom: 10px;
  }
  .post__listImgCaption {
    margin-bottom: 10px;
  }
  .post__listWriterName {
    padding-right: 60px;
    font-size: 12px;
  }
  .post__listWriterPh {
    top: -25px;
  }
  .post__listWriterPh img {
    width: 50px;
    height: 50px;
  }
}

.post__list02 {
  margin-bottom: 40px;
}
.post__list02 article {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.post__list02 article:nth-of-type(1) {
  padding: 0 0 15px;
}
.post__list02 article a {
  display: block;
  position: relative;
  min-height: 150px;
}
.post__list02 article.noImg a {
  min-height: 0;
}
.post__list02ImgWrap {
  position: absolute;
  left:  0;
  top:  0;
  width: 200px;
  height: 150px;
}
.post__list02Text {
  width: 560px;
  margin-left: 240px;
}
.noImg .post__list02Text {
  width: 100%;
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .post__list02 article {
    padding: 15px 0 5px;
  }
  .post__list02 article:nth-of-type(1) {
    padding: 0 0 5px;
  }
  .post__list02 article a {
    min-height: 75px;
  }
  .post__list02ImgWrap {
    width: 100px;
    height: 75px;
  }
  .post__list02Text {
    width: auto;
    margin-left: 116px;
  }
}

/* ------------------------------------
  タグ
------------------------------------ */
.postSingle__tag {
  margin-bottom: 10px;
}
.page-column .postSingle__tag {
  margin-bottom: 25px;
}
.postSingle__tag ul {
  display: flex;
  flex-wrap: wrap;
}
.postSingle__tag li {
  margin: 0 5px 5px 0;
  font-size: 14px;
  color: #333;
  border: solid 1px #707070;
}
.page-column .postSingle__tag li {
  font-size: 13px;
}
.page-news .postSingle__tag li,
.page-architect_news .postSingle__tag li,
.page-column .postSingle__tag li {
  color: #fff;
  border: solid 1px #868d91;
  background: #868d91;
}
.postSingle__tag li a {
  display: block;
  padding: 2px 10px;
  color: #333;
  transition: all  0.3s;
}
.page-news .postSingle__tag li a,
.page-architect_news .postSingle__tag li a,
.page-column .postSingle__tag li a {
  color: #fff;
}
.postSingle__tag li.sub_category a {
  color: #fff;
  background: #707070;
}
.postSingle__tag li a:hover {
  background: #707070;
  color: #fff;
}
.page-news .postSingle__tag li a:hover,
.page-architect_news .postSingle__tag li a:hover,
.page-column .postSingle__tag li a:hover {
  color: #868d91;
  background: #fff;
}
.postSingle__tag li.sub_category a:hover {
  color: #707070;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .postSingle__tag {
    margin-bottom: 5px;
  }
  .postSingle__tag li {
    margin: 0 5px 5px 0;
    font-size: 12px;
  }
  .postSingle__tag li a {
    padding: 2px 6px;
  }
}

/* ------------------------------------
  カテゴリー
------------------------------------ */
.postSingle__category {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
  font-size: 18px;
}
.postSingle__category::before {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  width: 15px;
  height: 4px;
  margin-top: -2px;
  background: #382a2a;
}
.postSingle__category_magazine {
  display: inline-block;
  line-height: 1.3;
  margin-bottom: 15px;
  padding: 2px 26px;
  background: #9ea3a8;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .postSingle__category_magazine {
    margin-bottom: 5px;
  }
}

/* ------------------------------------
  日付
------------------------------------ */
.postSingle__date {
  margin: 0 0 10px 10px;
  font-size: 16px;
  letter-spacing: 0.8px;
}
@media screen and (max-width: 768px) {
  .page-magazine.page-single .postSingle__date {
    text-align: right;
  }
}

/* ------------------------------------
  情報
------------------------------------ */
.postSingle__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.postSingle__infoInner {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
}
.postSingle__infoPh img {
  border-radius: 100px;
  width: 60px;
  height: 60px;
  margin-left: 20px;
  border: 2px solid #fff;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
}
.postSingle__infoDate {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .postSingle__info {
    display: block;
    text-align: right;
    margin-bottom: 10px;
  }
  .postSingle__infoInner {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .postSingle__infoPh img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  .postSingle__infoDate {
    font-size: 12px;
  }
}

/* ------------------------------------
  タイトル
------------------------------------ */
.postSingle__title {
  position: relative;
  margin-bottom: 35px;
  padding: 18px 30px 18px 35px;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.36;
  border-radius: 3px;
  background: #f5f5f5;
}
.page-news .postSingle__title,
.page-architect_news .postSingle__title,
.page-column .postSingle__title {
  background: #fff;
}
.postSingle__title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background: #66b2dd;
}
@media screen and (max-width: 768px) {
  .postSingle__title {
    margin-bottom: 5px;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    line-height: 1.4;
    border-radius: 2px;
  }
  .postSingle__title:before {
    width: 4px;
  }
}

/* ------------------------------------
  本文
------------------------------------ */
.postSingle__main {
  position: relative;
  padding-top: 10px;
}
.page-voice .postSingle__main {
  padding: 50px;
  background: #fff;
}
.postSingle__main a {
  text-decoration: underline;
}
.postSingle__main a:hover {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .page-voice .postSingle__main {
    padding: 20px;
  }
}

.postSingle__main .sns {
  position: absolute;
  top: -25px;
  right: 0;
}
@media screen and (max-width: 768px) {
  .postSingle__main .sns {
    position: relative;
    top: auto;
    right: auto;
    margin: -5px 0 10px;
    text-align: right;
  }
}

.postSingle__mokuji {
  margin-bottom: 35px;
  padding: 35px 20px 20px;
  border-top: 1px solid #c1bebe;
  border-bottom: 1px solid #c1bebe;
}
.postSingle__mokuji {
  position: relative;
}
.postSingle__mokuji dt {
  position: absolute;
  left: 0;
  top: -12px;
  width: 50px;
  font-size: 16px;
  font-weight: bold;
  background: #f8f7f2;
}
.postSingle__mokuji dd {
}
.postSingle__mokuji ul {
  margin-left: 20px;
  list-style: decimal;
}
.postSingle__mokuji li {
  padding-bottom: 10px;
}
.postSingle__mokuji li a {
  font-size: 14px;
  color: #66b2dd;
}
@media screen and (max-width: 768px) {
  .postSingle__mokuji {
    margin-bottom: 25px;
    padding: 20px 0 5px;
  }
  .postSingle__mokuji dt {
    top: -12px;
    width: 40px;
    font-size: 14px;
  }
  .postSingle__mokuji ul {
    margin-left: 20px;
    font-size: 14px;
  }
  .postSingle__mokuji li {
    padding-bottom: 10px;
  }
  .postSingle__mokuji li a {
  }
}

.postSingle__wrap {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .postSingle__wrap {
    margin-bottom: 0;
  }
}

.postSingle__anchor {
  margin-top: -100px;
  padding-top: 100px;
}
@media screen and (max-width: 768px) {
}

.postSingle__main .free {
  margin-bottom: 80px;
}
.postSingle__main .free p {
  margin-bottom: 1em;
}
@media screen and (max-width: 768px) {
}

.postSingle__main .h3_01 {
  position: relative;
  margin-bottom: 35px;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  border-left: 4px solid #66b2dd;
}
.page-voice .postSingle__main .h3_01 {
  margin: 35px 0 25px;
  font-size: 22px;
  border-left: 4px solid #ff9900;
}
.page-voice .postSingle__main .h3_01:first-child {
  margin: 0 0 25px;
}
.postSingle__main .h3_01:before {
  content: "";
  position: absolute;
  left: -4px;
  bottom: -15px;
  width: 100%;
  height: 1px;
  background: #cdcbcb;
}
.page-voice .postSingle__main .h3_01:before {
  display: none;
}
.postSingle__main .h3_02 {
  margin-bottom: 20px;
  padding: 13px 20px 13px 25px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  background: #f4f9ff;
}
.page-column .postSingle__main .h3_02 {
  background: #d8e9fe;
}
.page-voice .postSingle__main .h3_02 {
  background: #ff990040;
}
.postSingle__main .h4_01 {
  position: relative;
  margin-bottom: 25px;
  padding: 0 20px 0 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  border-left: 4px solid #ccc;
}
.postSingle__main .h4_01:before {
  content: "";
  position: absolute;
  left: -4px;
  bottom: -10px;
  padding-right: 4px;
  width: 100%;
  height: 1px;
  background: #cdcbcb;
}
.postSingle__main .h4_02 {
  margin-bottom: 15px;
  padding: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  border-bottom: 1px solid #cdcbcb;
}
@media screen and (max-width: 768px) {
  .postSingle__main .h3_01 {
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 17px;
    line-height: 1.4;
    border-left: 2px solid #66b2dd;
  }
  .page-voice .postSingle__main .h3_01 {
    margin: 15px 0 15px;
    font-size: 18px;
  }
  .page-voice .postSingle__main .h3_01:first-child {
    margin: 0 0 15px;
  }
  .postSingle__main .h3_01:before {
    left: -2px;
    bottom: -8px;
  }
  .postSingle__main .h3_02 {
    margin-bottom: 15px;
    padding: 10px 12px;
    font-size: 17px;
    line-height: 1.4;
  }
  .postSingle__main .h4_01 {
    margin-bottom: 20px;
    padding: 0 20px 0 16px;
    font-size: 16px;
    line-height: 1.3;
    border-left: 2px solid #ccc;
  }
  .postSingle__main .h4_01:before {
    left: -2px;
    bottom: -10px;
  }
  .postSingle__main .h4_02 {
    margin-bottom: 10px;
    padding: 0 0 8px 0;
    font-size: 16px;
    line-height: 1.3;
  }
}

.postSingle__main .text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .postSingle__main .text {
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 1.8;
  }
}

.postSingle__main .list {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.7;
  border-bottom: 1px solid #ddd;
}
.postSingle__main .list dl {
  display: flex;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background: #fff;
}
.postSingle__main .list dt {
  width: 120px;
  padding: 8px 19px;
  background: #efefef;
  text-align: center;
  font-weight: bold;
}
.postSingle__main .list dd {
  width: 100%;
  padding: 8px 15px;
}
@media screen and (max-width: 768px) {
  .postSingle__main .list {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 1.5;
  }
  .postSingle__main .list dt {
    width: 25%;
    padding: 5px;
  }
  .postSingle__main .list dd {
    width: 75%;
    padding: 5px;
  }
}

.postSingle__main .left {
  float: left;
  width: 50%;
  padding-right: 20px;
}
.postSingle__main .right {
  float: right;
  width: 50%;
  padding-left: 20px;
}
.postSingle__main .imgOne {
  margin-bottom: 30px;
}
.postSingle__main .imgTwo ul {
  display: flex;
}
.postSingle__main .imgTwo li:nth-child(odd) {
  margin-right: 20px;
}
.postSingle__main .imgTwo li:nth-child(even) {
  margin-left: 20px;
}
.postSingle__main .imgTwo li.ratio {
  width: calc(100%/2);
}
.postSingle__main .imgThree ul {
  display: flex;
}
.postSingle__main .imgThree li:nth-of-type(1) {
  margin-right: 7px;
}
.postSingle__main .imgThree li:nth-of-type(2) {
  margin-left: 7px;
  margin-right: 7px;
}
.postSingle__main .imgThree li:nth-of-type(3) {
  margin-left: 7px;
}
.postSingle__main .imgThree li.ratio {
  width: calc(100%/3);
}
.postSingle__main .img {
  margin-bottom: 30px;
}
.postSingle__main .img figcaption {
  padding-top: 5px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .postSingle__main .postImgLeft {
    float: none;
    width: 100%;
  }
  .postSingle__main .postTextRight {
    float: none;
    width: 100%;
  }
  .postSingle__main .postTextLeft {
    float: none;
    width: 100%;
  }
  .postSingle__main .postImgRight {
    float: none;
    width: 100%;
  }
  .postSingle__main .left {
    float: none;
    width: 100%;
    margin-bottom: 25px;
    padding-right: 0;
    font-size: 15px;
  }
  .postSingle__main .right {
    float: none;
    width: 100%;
    margin-bottom: 25px;
    padding-left: 0;
    font-size: 15px;
  }
  .postSingle__main .imgOne {
    margin-bottom: 20px;
  }
  .postSingle__main .imgTwo ul {
    display: block;
  }
  .postSingle__main .imgTwo li:nth-child(odd) {
    margin-right: 0;
  }
  .postSingle__main .imgTwo li:nth-child(even) {
    margin-left: 0;
  }
  .postSingle__main .imgTwo li.ratio {
    width: 100%;
  }
  .postSingle__main .imgThree ul {
    display: block;
  }
  .postSingle__main .imgThree li:nth-of-type(1) {
    margin-right: 0;
  }
  .postSingle__main .imgThree li:nth-of-type(2) {
    margin-left: 0;
    margin-right: 0;
  }
  .postSingle__main .imgThree li:nth-of-type(3) {
    margin-left: 0;
  }
  .postSingle__main .imgThree li.ratio {
    width: 100%;
  }
  .postSingle__main .img {
    margin-bottom: 20px;
  }
  .postSingle__main .img figcaption {
    padding-top: 5px;
    font-size: 13px;
  }
}

.postSingle__main .btn {
  margin-bottom: 30px;
}
.postSingle__main .btn a {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .postSingle__main .btn {
    margin-bottom: 20px;
  }
}

/* ------------------------------------
  この記事を書いたスタッフ
------------------------------------ */
.postSingle__writer {
  margin-bottom: 60px;
  padding: 20px;
  border: 6px solid #efefef;
  color: #333;
}
.postSingle__writerTitle {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}
.postSingle__writerContent {
  display: flex;
}
.postSingle__writerPh img {
  border-radius: 100px;
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
}
.postSingle__writerWrap {
  padding-left: 20px;
}
.postSingle__writerPosition {
  font-size: 12px;
}
.postSingle__writerName {
  margin-bottom: 10px;
  font-size: 18px;
}
.postSingle__writerName span {
  font-size: 12px;
}
.postSingle__writerProfile a {
  display: inline-block;
  line-height: 1;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 3px;
  background-color: #f5f5f5;
  border: solid 1px #ddd;
  transition: all 0.3s;
}
.postSingle__writerProfile a:hover {
  background-color: #ddd;
}
@media screen and (max-width: 768px) {
  .postSingle__writer {
    margin-bottom: 30px;
    padding: 15px;
    border: 3px solid #efefef;
  }
  .postSingle__writerTitle {
    margin-bottom: 8px;
    font-size: 14px;
  }
  .postSingle__writerPh img {
    width: 60px;
    height: 60px;
  }
  .postSingle__writerWrap {
    padding-left: 15px;
  }
  .postSingle__writerPosition {
    font-size: 11px;
  }
  .postSingle__writerName {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .postSingle__writerName span {
    font-size: 11px;
  }
  .postSingle__writerProfile a {
    padding: 5px 15px;
    font-size: 12px;
  }
}




/* magazine */
.magazine__list {
}
.magazine__list article {
  display: table;
  width: 100%;
  margin-bottom: 70px;
  padding: 0;
}
.magazine__listImg {
  display: table-cell;
  width: 500px;
  height: 375px;
  vertical-align: middle;
}
.page-archive .magazine__listImg {
  vertical-align: top;
}
.page-archive .magazine__listImg {
  width: 460px;
  height: 345px;
}
.magazine__listText {
  display: table-cell;
  padding: 0 120px 0 100px;
  vertical-align: middle;
}
.page-archive .magazine__listText {
  vertical-align: top;
}
.page-archive .magazine__listItem:nth-child(odd) .magazine__listText {
  padding: 0 0 0 40px;
}
.page-archive .magazine__listItem:nth-child(even) .magazine__listText {
  padding: 0 40px 0 0;
}
.magazine__listTextDate {
  margin-bottom: 10px;
}
.magazine__listTextHeading1 {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  padding: 0 25px;
  border-radius: 15px;
  background: #9ea3a8;
  color: #fff;
}
.magazine__listTextHeading2 {
  font-size: 24px;
}
.magazine__listTextText {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 1.6;
}
.magazine__listTextMore a {
  width: 160px;
  height: 40px;
  line-height: 36px;
  margin: 0;
  padding-right: 10px;
  border-radius: 3px;
  border: solid 2px #333;
  text-align: center;
  font-size: 14px;
}
.magazine__listTextMore a::before {
  right: 20px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
}
@media screen and (max-width: 768px) {
  .magazine__list article {
    margin-bottom: 30px;
  }
  .magazine__listImg {
    display: block;
    width: 100%;
    height: 64.2vw;
    margin-bottom: 10px;
  }
  .page-archive .magazine__listImg {
    width: 100%;
    height: 64.2vw;
  }
  .magazine__listText {
    display: block;
    padding: 0;
  }
  .page-archive .magazine__listItem:nth-child(odd) .magazine__listText {
    padding: 0;
  }
  .page-archive .magazine__listItem:nth-child(even) .magazine__listText {
    padding: 0;
  }
  .magazine__listTextDate {
    margin-bottom: 5px;
  }
  .magazine__listTextHeading1 {
    min-width: auto;
    height: 20px;
    line-height: 20px;
    margin-bottom: 12px;
    padding: 0 13px;
    border-radius: 10px;
    font-size: 12px;
  }
  .magazine__listTextHeading2 {
    margin-bottom: 8px;
    font-size: 15px;
  }
  .magazine__listTextText {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.5;
  }
  .magazine__listTextMore a {
    width: 100px;
    height: 25px;
    line-height: 25px;
    padding-right: 5px;
    border: solid 1px #333;
    font-size: 12px;
  }
  .magazine__listTextMore a::before {
    right: 10px;
    width: 6px;
    height: 6px;
    margin-top: -3px;
  }
}

.voiceMovie {
  padding: 30px 0 0 0;
}
.voiceMovie__title {
  margin-bottom: 40px;
  padding: 15px 20px 15px 85px;
  background: url('../images/common/ico_movie_l.png') 20px center no-repeat #ff9900;
  background-size: 50px auto;
  border-radius: 3px;
  color: #fff;
  font-size: 24px;
}
.voiceMovie__url {
  width: 600px;
  margin: 0 auto 45px;
}
.voiceMovie__url iframe {
  width: 600px;
  height: auto;
}
@media screen and (max-width: 768px) {
  .voiceMovie {
    padding: 30px 0 0 0;
  }
  .voiceMovie__title {
    margin-bottom: 40px;
    padding: 10px 10px 10px 85px;
    background: url('../images/common/ico_movie_l.png') 20px center no-repeat #ff9900;
    background-size: 30px auto;
    font-size: 16px;
  }
  .voiceMovie__url {
    width: 100%;
    margin: 0 auto 45px;
  }
  .voiceMovie__url iframe {
    width: 100%;
  }
}

.voiceMovie {
  padding: 30px 0 0 0;
}
.voiceMovie__title {
  margin-bottom: 40px;
  padding: 15px 20px 15px 85px;
  background: url('../images/common/ico_movie_l.png') 20px center no-repeat #ff9900;
  background-size: 50px auto;
  border-radius: 3px;
  color: #fff;
  font-size: 24px;
}
.voiceMovie__url {
  width: 600px;
  margin: 0 auto 45px;
}
.voiceMovie__url iframe {
  width: 600px;
  height: 390px;
}
@media screen and (max-width: 768px) {
  .voiceMovie {
    padding: 10px 0 0 0;
  }
  .voiceMovie__title {
    margin-bottom: 25px;
    padding: 10px 10px 10px 45px;
    background: url('../images/common/ico_movie_l.png') 15px center no-repeat #ff9900;
    background-size: 20px auto;
    font-size: 16px;
  }
  .voiceMovie__url {
    width: 100%;
    margin: 0 auto 25px;
  }
  .voiceMovie__url iframe {
    width: 100%;
    height: auto;
  }
}

.voiceStaff {
  margin-bottom: 50px;
  padding: 50px;
  background: #fff;
}
.voiceStaff__title {
  height: 60px;
  line-height: 60px;
  margin-bottom: 25px;
  padding: 0 20px 0 70px;
  border-radius: 3px;
  background: url('../images/common/ico_voice_l.png') 20px center no-repeat #99cc66;
  background-size: 40px auto;
  font-size: 28px;
  color: #fff;
}
.voiceStaff__text {
  margin-bottom: 40px;
  font-size: 16px;
  background-image:
    linear-gradient(
      180deg,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) 97%,
      #99cc66 97%,
      #99cc66 100%
    );
  background-size: 100% 3em;
  line-height: 3em;
}
@media screen and (max-width: 768px) {
  .voiceStaff {
    padding: 20px 20px 30px;
  }
  .voiceStaff__title {
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    padding: 0 10px 0 45px;
    background: url('../images/common/ico_voice_l.png') 15px center no-repeat #99cc66;
    background-size: 20px auto;
    font-size: 16px;
  }
  .voiceStaff__text {
    margin-bottom: 25px;
    font-size: 12px;
    background-size: 100% 2.5em;
    line-height: 2.5em;
  }
}

.voicePost {
  margin-bottom: 40px;
  background: #fff;
}
.page-voice.page-single .voicePost {
  display: flex;
  align-items: center;
}
.voicePost a {
  display: flex;
  align-items: center;
}
.voicePost__img {
  position: relative;
  width: 490px;
}
.post__list .voicePost__img {
  width: 100%;
}
.voicePost__imgWrap {
  width: 100%;
  height: 340px;
}
.post__list .voicePost__imgWrap {
  height: 225px;
}
.voicePost__date {
  position: absolute;
  left: 0;
  top: 0;
  padding: 2px 16px;
  background: #c90d0d;
  color: #fff;
  font-size: 10px;
}
.voicePost__text {
  width: 450px;
  padding: 40px;
}
.post__list .voicePost__text {
  width: 100%;
  padding: 20px;
}
.voicePost__titleWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.post__list .voicePost__titleWrap {
  margin-bottom: 10px;
}
.voicePost__title {
  line-height: 1.4;
  font-size: 30px;
  font-weight: bold;
}
.post__list .voicePost__title {
  font-size: 20px;
}
.voicePost__place {
  padding: 0 10px;
  border-radius: 50px;
  background: #ddd;
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
}
.voicePost__description {
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: 20px;
}
.post__list .voicePost__description {
  margin-bottom: 10px;
  font-size: 14px;
}
.voicePost__label {
  display: flex;
  margin-bottom: 3px;
}
.voicePost__movie {
  margin-right: 3px;
  padding: 2px 5px 2px 28px;
  background: url('../images/common/ico_movie.png') 5px center no-repeat #ff9900;
  background-size: 17px auto;
  font-size: 12px;
  color: #fff;
}
.voicePost__staffVoice {
  margin-right: 3px;
  padding: 2px 5px 2px 25px;
  background: url('../images/common/ico_voice.png') 5px center no-repeat #99cc66;
  background-size: 17px auto;
  font-size: 11px;
  color: #fff;
}
.voicePost__concept {
  display: flex;
}
.voicePost__concept .voicePost__conceptItem {
  margin-right: 3px;
  padding: 2px 5px 2px 25px;
  font-size: 11px;
  color: #fff;
}
.voicePost__concept .voicePost__conceptItem.item0 {
  background: url('../images/common/ico_eye.png') 5px center no-repeat #66b2dd;
  background-size: 15px auto;
}
.voicePost__concept .voicePost__conceptItem.item1 {
  padding: 2px 5px 2px 22px;
  background: url('../images/common/ico_pen.png') 5px center no-repeat #66b2dd;
  background-size: 12px auto;
}
.voicePost__concept .voicePost__conceptItem.item2 {
  background: url('../images/common/ico_house.png') 5px center no-repeat #66b2dd;
  background-size: 15px auto;
}
.voicePost__concept .voicePost__conceptItem.item3 {
  padding: 2px 5px 2px 22px;
  background: url('../images/common/ico_ hammer.png') 5px center no-repeat #66b2dd;
  background-size: 12px auto;
}
@media screen and (max-width: 768px) {
  .voicePost {
    margin-bottom: 40px;
  }
  .page-voice.page-single .voicePost {
    display: block;
  }
  .voicePost a {
    display: block;
  }
  .voicePost__img {
    width: 100%;
  }
  .voicePost__imgWrap {
    height: 225px;
  }
  .post__list .voicePost__imgWrap {
    height: 225px;
  }
  .voicePost__date {
    padding: 2px 10px;
    font-size: 10px;
  }
  .voicePost__text {
    width: 100%;
    padding: 20px;
  }
  .post__list .voicePost__text {
    padding: 20px;
  }
  .voicePost__titleWrap {
    margin-bottom: 10px;
  }
  .post__list .voicePost__titleWrap {
    margin-bottom: 10px;
  }
  .voicePost__title {
    font-size: 18px;
  }
  .post__list .voicePost__title {
    font-size: 18px;
  }
  .voicePost__place {
    padding: 0 10px;
    font-size: 10px;
  }
  .voicePost__description {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .post__list .voicePost__description {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .voicePost__label {
    margin-bottom: 3px;
  }
  .voicePost__movie {
    margin-right: 3px;
    padding: 2px 5px 2px 21px;
    background: url('../images/common/ico_movie.png') 5px center no-repeat #ff9900;
    background-size: 12px auto;
    font-size: 10px;
  }
  .voicePost__staffVoice {
    margin-right: 3px;
    padding: 2px 5px 2px 20px;
    background: url('../images/common/ico_voice.png') 5px center no-repeat #99cc66;
    background-size: 12px auto;
    font-size: 10px;
  }
  .voicePost__concept .voicePost__conceptItem {
    margin-right: 3px;
    padding: 2px 5px 2px 22px;
    font-size: 10px;
  }
  .voicePost__concept .voicePost__conceptItem.item0 {
    background: url('../images/common/ico_eye.png') 5px center no-repeat #66b2dd;
    background-size: 12px auto;
  }
  .voicePost__concept .voicePost__conceptItem.item1 {
    padding: 2px 5px 2px 20px;
    background: url('../images/common/ico_pen.png') 5px center no-repeat #66b2dd;
    background-size: 10px auto;
  }
  .voicePost__concept .voicePost__conceptItem.item2 {
    background: url('../images/common/ico_house.png') 5px center no-repeat #66b2dd;
    background-size: 12px auto;
  }
  .voicePost__concept .voicePost__conceptItem.item3 {
    padding: 2px 5px 2px 20px;
    background: url('../images/common/ico_ hammer.png') 5px center no-repeat #66b2dd;
    background-size: 10px auto;
  }
}
