@charset "utf-8";

body {
  overflow-x: visible!important;
  overflow-y: visible!important;
  min-width: 100%;



  -webkit-print-color-adjust: exact;
}

.l-header {
  display: none;
}
.l-main {
  padding-top: 0;
}
.c-breadcrumbList {
  display: none;
}
.l-footer {
  display: none;
}

.l-base {
  width: 100%!important;
  max-width: 100%!important;
}

.c-printPage {}

.favorite__print {
  display: none;
}
