@charset "utf-8";
/* =======================================

	 CSS BrowserReset BaseElements

 ======================================= */
html, body, div, span, nav, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: YuGothic, "游ゴシック", "Hiragino Kaku Gothic ProN", Meiryo, "メイリオ", 'ＭＳ Ｐゴシック',sans-serif;
	font-style: inherit;
	font-weight: inherit;
	font-size: inherit;
	background: transparent;
}
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	/*vertical-align: baseline;*/
	font-family: YuGothic, "游ゴシック", "Hiragino Kaku Gothic ProN", Meiryo, "メイリオ", 'ＭＳ Ｐゴシック',sans-serif;
	font-style: inherit;
	font-weight: inherit;
	background: transparent;
}

html {
	overflow-y: scroll;
	color: #333;
}

img {
	vertical-align: bottom;
}

strong {
	font-weight: bold;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
/*	border-collapse: separate;*/
	border-spacing: 0;
}

/*caption, th, td {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}*/

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

a:focus {
/*\*/
	overflow: hidden;
/**/
}

option {
	padding-right: 10px;
}

/* ------------------------------
	HTML5 ELEMENTS
------------------------------ */
header, article, aside, section, footer,
nav, menu, details, hgroup, summary, figcaption, figure {
	display: block;
}

* {
	box-sizing: border-box;
}